<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link rel="stylesheet" href="styleSheet/style.css">
    <link rel="stylesheet" href="styleSheet/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8a6b29c899.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header-agus">
        <div class="banner">
            <div class="logo">
                <a href="/"><img src="/images/logotipo.png" alt=""></a>
            </div>
            <div class="lupa-menu">
                <div class="lupa">
                    <a href=""><i class="fas fa-search"></i></a>
                </div>
                <div class="menu">
                    <a href=""><i class="fas fa-bars"></i></a>
                </div>
            </div>
        </div>
    </header>
    <main class="productocompleto">
        <section class="productocar">
            <section class="pruebacar">
                <img class="dogcar" src="/images/prodcarOldprince.png" alt="">
                <section class="descripcarro">
                    <div class="descripcar">
                        <h1>Alimento Old Prince Novel Cordero y Arroz Perro Adulto Mediano Y Grande - 15 Kg</h3>
                    </div>
                    <div class="codprocar">
                        <p>Old Prince | codigo del producto: #1526</p>
                        <div>
                            <p class="precar"> $4420 </p>
                            <p><img class="cardca" src="/svg/cardca.svg" alt="">ver medio de pago</p>
                        </div>
                        <br>
                        <div>
                            <p>Seleccion peso Alimento: </p>
                            <button class="bot1">10</button>
                            <button class="bot1">15</button>
                        </div>
                        <p>Seleccione cantidad</p>
                        <br>
                        <section class="quantity">
                            <div class="counter">
                                <span class="down" onClick='decreaseCount(event, this)'>-</span>
                                <input type="text" value="1">
                                <span class="up" onClick='increaseCount(event, this)'>+</span>
                                <script>
                                    function increaseCount(a, b) {
                                        var input = b.previousElementSibling;
                                        var value = parseInt(input.value, 10);
                                        value = isNaN(value) ? 0 : value;
                                        value++;
                                        input.value = value;
                                    }

                                    function decreaseCount(a, b) {
                                        var input = b.nextElementSibling;
                                        var value = parseInt(input.value, 10);
                                        if (value > 1) {
                                            value = isNaN(value) ? 0 : value;
                                            value--;
                                            input.value = value;
                                        }
                                    }
                                </script>
                            </div>
                        </section>

                    </div>
                </section>
            </section>
            <section class="domo1">
                <article class="descricar">
                    <p>Alimento Old Prince Novel Cordero y Arroz Perro Adulto Mediano Y Grande,</p>
                    <p>Hecho con proteínas de origen no convencional que minimizan las probabilidades de alergias
                        alimentarias y cutáneas.</p>
                    <div>
                        <br>
                        <p>
                            Beneficios:
                        </p>
                        <br>
                        <ul>
                            <li>
                                Mejora la piel y el pelo
                            </li>
                            <li>
                                Reduce la intolerancia alimentaria
                            </li>
                            <li>
                                Refuerza el sistema inmunológico intestinal
                            </li>
                            <br>
                        </ul>
                    </div>
                </article>
            </section>
        </section>
    </main>
    <footer>
        <article class="lista">
            <nav>
                <h4>Categorías</h4>
                <ul>
                    <li>Perros</li>
                    <li>Gatos</li>
                    <li>Aver</li>
                    <li>Reptiles</li>
                </ul>
                <h4>Servicios</h4>
                <ul>
                    <li>Consejos para tu mascota</li>
                    <li>Venta mayotista</li>
                    <li>Mi cuenta</li>
                </ul>
            </nav>
        </article>
        <article class="redes">
            <h3>Seguinos en nuestras redes</h3>
            <div>
                <a href=""><i class="fab fa-whatsapp"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-facebook-f"></i></a>
            </div>
            <div class="ayuda">
                <p>Ayuda</p>
                <p>Política de privacidad</p>
                <p>Términos y condiciones</p>
            </div>
        </article>
    </footer>
</body>

</html>