<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link rel="stylesheet" href="styleSheet/style.css">
    <link rel="stylesheet" href="styleSheet/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8a6b29c899.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="carbody">
            <img src="/images/logo.png" alt="">
        </div>
    </header>
    <main>
        <section class="pruebacar">
            <div>
                <div class="carcos">
                    <p></p>
                </div>
                <div>
                    <div>
                        <img class="dogcar" src="/images/prodcarOldprince.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div class="descripcar">
                    <h1>Alimento Old Prince Novel Cordero y Arroz Perro Adulto Mediano Y Grande - 15 Kg</h3>
                </div>
                <br>
                <div>
                    <p>Old Prince | codigo del producto</p>
                </div>
                <br>
                <div>
                    <div>
                        <p> $4420 </p>
                        <p><img class="cardca" src="/images/cardca.svg" alt="">ver medio de pago</p> 
                    </div>
                </div>
                <br>
                <div>
                    <div>
                        <p>Seleccion peso Alimento: </p>
                        <button class="bot1">10</button>
                        <button class="bot1">15</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="carfooter">
        <div>
            <p> hola </p>
            <br>
            <p>
                hfdg jkflg sadasd
                sadsa gdsgf
                sadasd
            </p>
        </div>
    </footer>
</body>

</html>