!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link rel="stylesheet" href="styleSheet/style.css">
    <link rel="stylesheet" href="styleSheet/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8a6b29c899.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="carbody">
            <img class="log2" src="/images/logo.png" alt="">
        </div>
    </header>
    <main>
        <section>
            <section class="pruebacar">
            <div>
                <img class="dogcar" src="/images/prodcarOldprince.png" alt="">
            </div>
            <section>
                <div class="descripcar">
                    <h1>Alimento Old Prince Novel Cordero y Arroz Perro Adulto Mediano Y Grande - 15 Kg</h3>
                </div>
                <br>
                <div>
                    <p>Old Prince | codigo del producto</p>
                </div>
                <br>
                <div>
                    <p class="precar"> $4420 </p>
                    <p><img class="cardca" src="/svg/cardca.svg" alt="">ver medio de pago</p>
                </div>
                <br>
                <div>
                    <p>Seleccion peso Alimento: </p>
                    <button class="bot1">10</button>
                    <button class="bot1">15</button>
                </div>
                <br>
                <div>
                    <p>Seleccion cantidad: </p>
                    <button class="bot1">10</button>
                    <button class="bot1">15</button>
                </div>
            </section>
        </section>
        <section class="domo1">
            <article class="descricar">
                <p>Alimento Old Prince Novel Cordero y Arroz Perro Adulto Mediano Y Grande,</p>
                <p>Hecho con proteínas de origen no convencional que minimizan las probabilidades de alergias
                    alimentarias y cutáneas.</p>
                <div>
                    <br>
                    <p>
                        Beneficios:
                    </p>
                    <br>
                    <ul>
                        <li>
                            Mejora la piel y el pelo
                        </li>
                        <li>
                            Reduce la intolerancia alimentaria
                        </li>
                        <li>
                            Refuerza el sistema inmunológico intestinal
                        </li>
                        <br>
                    </ul>
                </div>
            </article>
        </section>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>