<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="styleSheet/style.css">
    <link rel="stylesheet" href="styleSheet/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8a6b29c899.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="form-container-register">
        <img src="/images/floatingImage.png" alt="" class="floating-image-form">
        <img src="/images/logo.png" alt="" class="logo-form">
        <a href="#" class="close"><img src="/svg/check-and-cross-marks.svg" alt=""></a>
        <form action="" class="form-register"><input type="name" placeholder="Nombre"></form>
        <h6 class="error-message">No hay ninguna cuenta asociada a correo electronico</h6>
        <form action="" class="form-register"><input type="text" placeholder="Apellido"></form>
        <h6 class="error-message">No hay ninguna cuenta asociada a correo electronico</h6>
        <form action="" class="form-register"><input type="text" placeholder="Nombre de tu mascota"></form>
        <h6 class="error-message">No hay ninguna cuenta asociada a correo electronico</h6>
        <form action="" class="form-register"><input type="email / tel" placeholder="Correo electronico o teléfono"></form>
        <h6 class="error-message">No hay ninguna cuenta asociada a correo electronico</h6>
        <form action="" class="form-register"><input type="password" placeholder="Contraseña"></form>
        <h6 class="error-message">No hay ninguna cuenta asociada a correo electronico</h6>
        <h6 class="have-account">¿Ya tienes una cuenta?<a href="/login">Inicie sesión.</a></h6>
        <h6 class="terms-and-conditions"><input type="checkbox">Acepto los <a href="#">Terminos y Condiciones.</a></h6>
        <button class="button-form-create-account"><a href="/loginConfirmation">Crear cuenta</a></button>
    </div>
</body>
</html>