<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="styleSheet/style.css">
    <link rel="stylesheet" href="styleSheet/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8a6b29c899.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header-agus">

        <div class="banner">

            <div class="logo">
                <a href="/"><img src="/images/logotipo.png" alt=""></a>
            </div>


            <div class="lupa-menu">
                <div class="lupa">
                    <a href=""><i class="fas fa-search"></i></a>
                </div>

                <div class="menu">
                    <a href=""><i class="fas fa-bars"></i></a>
                </div>
            </div>

        </div>

    </header>
    <nav class="nav-cart-favourite">
        <a href="#">Carrito de Compras</a>
        <a href="#">Favoritos</a>
    </nav>
    <div class="cart-container">
        <div class="products-cart-container">
            <nav class="button-cart">
                <button>
                    Filtrar
                </button>
                <button>
                    Vaciar carrito
                </button>
            </nav>
            <article class="product-cart">
                <picture>
                    <img src="/images/prodcarDispenser.png" alt="">
                </picture>
                <div class="cart-detail">
                    <h2>Producto</h2> 
                    <p>Lorem ipsum dolor sit amet.</p>
                    <h3 class="price-product-cart">Precio: $0,00</h3>
                </div>
                <div class="amount">
                    <label for="tentacles">Cantidad</label>
                    <input type="number" id="tentacles" name="tentacles" min="1" max="99" value="1">
                </div>
            </article>
            <article class="product-cart">
                <picture> 
                    <img src="/images/prodcarCollar.png" alt="">
                </picture>
                <div class="cart-detail">
                    <h2>Producto</h2> 
                    <p>Lorem ipsum dolor sit amet.</p>
                    <h3 class="price-product-cart">Precio: $0,00</h3>
                </div>
                <div class="amount">
                    <label for="tentacles">Cantidad</label>
                    <input type="number" id="tentacles" name="tentacles" min="1" max="99" value="1">
                </div>
            </article>
            <article class="product-cart">
                <picture> 
                    <img src="/images/prodcarDispenser.png" alt="">
                </picture>
                <div class="cart-detail">
                    <h2>Producto</h2> 
                    <p>Lorem ipsum dolor sit amet.</p>
                    <h3 class="price-product-cart">Precio: $0,00</h3>
                </div>
                <div class="amount">
                    <label for="tentacles">Cantidad</label>
                    <input type="number" id="tentacles" name="tentacles" min="1" max="99" value="1">
                </div>
            </article>
            <article class="product-cart">
                <picture> 
                    <img src="/images/prodcarProplangato.png" alt="">
                </picture>
                <div class="cart-detail">
                    <h2>Producto</h2> 
                    <p>Lorem ipsum dolor sit amet.</p>
                    <h3 class="price-product-cart">Precio: $0,00</h3>
                </div>
                <div class="amount">
                    <label for="tentacles">Cantidad</label>
                    <input type="number" id="tentacles" name="tentacles" min="1" max="99" value="1">
                </div>
            </article>
            <article class="product-cart">
                <picture> 
                    <img src="/images/prodcarTransportador.png" alt="">
                </picture>
                <div class="cart-detail">
                    <h2>Producto</h2> 
                    <p>Lorem ipsum dolor sit amet.</p>
                    <h3 class="price-product-cart">Precio: $0,00</h3>
                </div>
                <div class="amount">
                    <label for="tentacles">Cantidad</label>
                    <input type="number" id="tentacles" name="tentacles" min="1" max="99" value="1">
                </div>
            </article>
        </div>
        <div class="buy-cart-container">
            <div class="paws">
                <img src="/svg/paw.svg" alt="">
                <img src="/svg/paw.svg" alt="">
                <img src="/svg/paw.svg" alt="">
            </div>
            <h2 class="subTotal">
                Subtotal: <p class="subTotal-price">$0,00</p>
            </h2>
            <h2 class="shipping-cost">
                Costo de envio <p class="shipping-cost-price">$0,00</p>
            </h2>
            <div class="line-and-cart">
                <div class="cart-line"></div>
                <img src="/svg/icon-shopping-cart.svg" alt="">
                <div class="cart-line"></div>
            </div>
            <div class="total-and-price-cart">
                <h2 class="total-cart">Total</h2>
                <h2 class="total-price-cart">$0,00</h2>
            </div>
            <button class="buy-cart"><a href="#">Comprar</a></button>
            <div class="buy-details-cart"></div>
        </div>
    </div>
    <footer>

        <article class="lista">
            <nav>
                <h4>Categorías</h4>
                <ul>
                    <li>Perros</li>
                    <li>Gatos</li>
                    <li>Aver</li>
                    <li>Reptiles</li>
                </ul>
                <h4>Servicios</h4>
                <ul>
                    <li>Consejos para tu mascota</li>
                    <li>Venta mayotista</li>
                    <li>Mi cuenta</li>
                </ul>
            </nav>
        </article>

        <article class="redes">
            <h3>Seguinos en nuestras redes</h3>
            <div>
                <a href=""><i class="fab fa-whatsapp"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-facebook-f"></i></a>
            </div>
            <div class="ayuda">
                <p>Ayuda</p>
                <p>Política de privacidad</p>
                <p>Términos y condiciones</p>
            </div>
        </article>

    </footer>
    
</body>
</html>