<!DOCTYPE html>
<html lang="es">

 <!-- HEAD -->
 <%- include('../partials/head') %> 

<body>
    <form action="" class="body-login-register">
        <div class="form-container">
            <img src="/images/floatingImage.png" alt="" class="floating-image-form">
            <img src="/images/logotipo.png" alt="" class="logo-form">
            <a href="javascript:history.back()" class="close"><img src="/svg/check-and-cross-marks.svg" alt=""></a>
            <input type="email" placeholder="Correo electronico o teléfono" required>
            <h6 class="error-message">No hay ninguna cuenta asociada a ese correo electronico</h6>
            <input type="password" placeholder="Contraseña" required>
            <h6 class="error-message">Contraseña incorrecta</h6>
            <h6 class="create-account">¿No tienes una cuenta?<a href="/users/register">Cree una.</a></h6>
            <input type="submit" value="iniciar sesión" class="button-forms login-button">
        </div>
        <a href="/users/register" class="recovery-options">
            <i class="fas fa-key"></i><p>Opciones de recuperacion de tu cuenta</p>
        </a>
    </form>
</body>
</html>