<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('../partials/head') %>

    <body class="body-profile">
        <!-- HEADER -->
        <%- include('../partials/header') %>

            <main>

            </main>
            <!-- FOOTER -->
            <%- include('../partials/footer') %>

                <!-- JavaScript -->
                <script src="/js/users.js"></script>
    </body>

</html>