<!DOCTYPE html>
<html lang="es">

 <!-- HEAD -->
 <%- include('../partials/head') %> 

<body >
    <form action="" class="body-login-register">
        <div class="form-container-register">
            <img src="/images/floatingImage.png" alt="" class="floating-image-form">
            <img src="/images/logotipo.png" alt="" class="logo-form">
            <a href="javascript:history.back()" class="close"><img src="/svg/check-and-cross-marks.svg" alt=""></a>
            <input type="name" placeholder="Nombre" required>
            <h6 class="error-message">Campo vacío</h6>
            <input type="text" placeholder="Apellido" required>
            <h6 class="error-message">Campo vacío</h6>
            <input type="text" placeholder="Nombre de tu mascota" required>
            <h6 class="error-message">Campo vacío</h6>
            <input type="email / tel" placeholder="Correo electronico o teléfono" required>
            <h6 class="error-message">Campo vacío</h6>
            <input type="password" placeholder="Contraseña" required>
            <h6 class="error-message">Campo vacío</h6>
            <h6 class="have-account">¿Ya tienes una cuenta?<a href="/login">Inicie sesión.</a></h6>
            <h6 class="terms-and-conditions"><input type="checkbox" required>Acepto los <a href="#">Terminos y Condiciones.</a></h6>
            <input type="submit" value="Crear cuenta"  class="button-form-create-account" required>
        </div>
    </form>
</body>
</html>