<!DOCTYPE html>
<html lang="es">

 <!-- HEAD -->
 <%- include('../partials/head') %> 

<body>
   
    <!-- HEADER -->
<%- include('../partials/header') %> 

    <!-- CONTENIDO -->  
    <p>Hola</p>
        

    <!-- FOOTER -->  
<%- include('../partials/footer') %> 

</body>

</html>