<!DOCTYPE html>
<html lang="es">

 <!-- HEAD -->
 <%- include('../partials/head') %> 

<body>
   
    <!-- HEADER -->
<%- include('../partials/header') %> 

    <!-- CONTENIDO -->  
    <img class="logito" src="/images/logotipo.png" alt="">
    
    <section>
        <p style="">
            hola como estas todo bien <img src="/images/aboutus/perro-feliz-cómo-abrir-un-pet-shop.jpg" class="img-fluid" alt="">
        </p>
    </section>

    
        
    <a href="https://api.whatsapp.com/send?phone=+5493873693495" class="btn-flotante">
        <i class="fab fa-whatsapp"></i>
    </a>
    <!-- FOOTER -->  
<%- include('../partials/footer') %> 

</body>
<script src="/js/aboutus.js"></script>
</html>