<!DOCTYPE html>
<html lang="es">

 <!-- HEAD -->
 <%- include('../partials/head') %> 

<body>
   
    <!-- HEADER -->
<%- include('../partials/header') %> 

    <!-- CONTENIDO -->  
    <p>Hola</p>
        
    <a href="https://api.whatsapp.com/send?phone=+5493873693495" class="btn-flotante">
        <i class="fab fa-whatsapp"></i>
    </a>
    <!-- FOOTER -->  
<%- include('../partials/footer') %> 

</body>

</html>