<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('../partials/head') %>

    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>

            <!-- CONTENIDO -->

            <div class="terminos">
                <!-- sección de págias -->
                <div class="row" id="paginas">

                    <section class="col-md-12">
                        <header>
                            <h1>Términos y Condiciones Legales</h1>
                        </header><!-- /header -->
                        <article>
                            <p>Esta página establece los términos y condiciones («Términos») en virtud de la cual usted,
                                el visitante del sitio Web («Usted» o «Su» o «Usted Mismo») puede utilizar este sitio
                                Web («Nuestro Sitio»), que es propiedad de Petyo pet Shop, S.L. («Petyo pet Shop, S.L.»,
                                («Nosotros» o «Nosotros» o «Nuestro»). Al usar este sitio Web, usted acepta que quedará
                                vinculado por todos los términos y condiciones establecidos a continuación. Si usted no
                                acepta estos Términos y Condiciones, por favor no utilice este sitio Web. Podemos, a
                                nuestra única discreción, revisar estos Términos y Condiciones en cualquier momento; Por
                                lo tanto, Usted debe visitar esta página periódicamente para revisar los Términos y
                                Condiciones. Esta visita y uso del sitio Web están referidos colectivamente como “El
                                Servicio (s)”</p>
                            <p><b>POR FAVOR LEA ESTAS CONDICIONES ANTES DE UTILIZAR LOS SERVICIOS. SI USTED NO ESTÁ DE
                                    ACUERDO CON ESTOS TÉRMINOS, NO UTILICE LOS SERVICIOS, O NO ACCEDA AL SITIO.</b></p>
                            <p><b>Aceptación de los Términos y Condiciones</b></p>
                            <p><span style="line-height: 1.5em;">Los Términos y Condiciones constituyen un acuerdo legal
                                    entre Usted, como visitante del Sitio, y Nosotros. Cualquier información
                                    proporcionada por Usted también está sujeta a nuestra Política de Privacidad, que se
                                    incorpora por referencia en los Términos. Al utilizar los Servicios, Usted reconoce
                                    y acepta que ha leído y aceptado los términos de nuestra Política de Privacidad. El
                                    uso de Términos y Condiciones adicionales también pueden ser publicados directamente
                                    en otras áreas del Sitio, y junto con las Condiciones, pueden ser modificadas de vez
                                    en cuando. Los términos y Condiciones se conocen colectivamente como el «Acuerdo».
                                    Nos reservamos el derecho a modificar el contenido de este Acuerdo en cualquier
                                    momento, y tal cambio entrará en vigencia inmediatamente después de su publicación
                                    en Nuestro Sitio. Usted acepta que quedará vinculado por los Términos y Condiciones
                                    de este Contrato, y cualquier modificación de los mismos, siempre y cuando continúe
                                    accediendo y utilizando los Servicios. Debido a la posibilidad de que el Acuerdo
                                    pueda cambiar entre las visitas, Usted también se compromete a revisar los términos
                                    del Acuerdo, cada vez que vuelva a visitarlo. Su acceso o uso continuado de nuestro
                                    contenido del Sitio (que se define más adelante) será considerado como su aceptación
                                    definitiva de las modificaciones a este acuerdo.</span></p>
                            <p><b></b><b>Derechos Concedidos a Usted, el Visitante del Sitio</b></p>
                            <p>El contenido de este sitio Web, (el «Material del Sitio»), está protegido por derechos de
                                autor. Usted podrá de forma no exclusiva y no transferible descargar una sola copia del
                                Material del Sitio para su uso personal. Ello no implica una transferencia de título del
                                contenido del Sitio o copias del contenido del Sitio. El uso no autorizado del material
                                del Sitio infringe derechos de autor, marcas registradas y otros derechos protegidos por
                                la legislación. Usted se compromete a mantener todas las citas de derechos de autor y
                                otros avisos de propiedad contenidos en el material original del Sitio en cualquier
                                copia que haga de ese material. Usted no puede vender o modificar nuestro material del
                                Sitio o reproducir, mostrar, distribuir – excepto cuando esté expresamente autorizado a
                                compartir &#8211; o utilizar de otro modo el Material del Sitio para cualquier propósito
                                público o comercial. Los nombres, marcas y logotipos incluidos en el material del Sitio
                                son, a menos que se indique lo contrario, signos registrados de propiedad de los
                                autores, de terceros o de Petyo. Está prohibido el uso de estas marcas o Material del
                                Sitio, salvo lo dispuesto en estos Términos y Condiciones.</p>
                            <p><b style="line-height: 1.5em;">Sus Comentarios son Bienvenidos</b></p>
                            <p><span style="line-height: 1.5em;">Damos la bienvenida a sus comentarios en Nuestro Sitio
                                    y los servicios Web en </span><a style="line-height: 1.5em;"
                                    href="mailto:info@argentinagbc.org.ar">info@argentinagbc.org.ar</a><span
                                    style="line-height: 1.5em;">. Usted reconoce que si usted nos envía comentarios,
                                    elogios, sugerencias creativas, ideas, notas, dibujos, conceptos, inventos u otra
                                    información (colectivamente, pero sin incluir información de identificación personal
                                    acerca de Usted, la «Información»), la misma podrá ser utilizada libremente en
                                    nuestra página Web.</span></p>
                            <p>Por favor, tenga en cuenta que cualquier comunicación que usted publique en Nuestro Sitio
                                Web o nos transmita a través de Internet se considera, y será tratada como no
                                confidencial, a menos que la página Web a través del cual se presenta la información,
                                establezca expresamente lo contrario. Para obtener más información acerca de las
                                cuestiones de confidencialidad y privacidad, por favor lea nuestra Política de
                                Privacidad.</p>
                            <p><b></b><b>Contenido del Sitio</b></p>
                            <p>Usted reconoce que el Servicio contiene «Contenidos del Sitio», que se relacionan
                                colectivamente con nuestra propiedad o la de terceros tal como se especifica a
                                continuación: cualquier texto, gráficos, imágenes, información, software, audio y clips
                                de vídeo, enlaces, logotipos, iconos, y otros materiales, incluyendo pero no limitado a
                                la información confidencial y de propiedad, derechos de autor, patentes, secretos
                                comerciales, imágenes comerciales, marcas. Cualquier contenido del Sitio que sea de
                                nuestra propiedad se denomina en este documento «Nuestro Material del Sitio.» El
                                contenido del Sitio también puede incluir «Material del Sitio de Terceras Partes» e
                                «Información Sobre el Usuario». Nuestro Material del Sitio puede contener imprecisiones
                                técnicas o errores tipográficos. Nos reservamos el derecho a realizar modificaciones y
                                actualizaciones de la información contenida en Nuestro Sitio sin previo aviso.</p>
                            <p><b>Derechos sobre el Contenido del Sitio</b></p>
                            <p><span style="line-height: 1.5em;">Todo el contenido del Sitio, en su totalidad o en
                                    parte, está protegido por leyes de derechos de autor aplicables, convenios o
                                    tratados locales e internacionales y cualquier otra propiedad intelectual o leyes de
                                    propiedad. A menos que sea de dominio público, que pertenezca a terceros, o a menos
                                    que se indique otra cosa, es propiedad nuestra. Usted entiende y acepta que no podrá
                                    eliminar, alterar o cubrir cualquier derecho de autor u otros avisos de propiedad
                                    intelectual realizados en nuestro Sitio. Ninguna otra licencia de uso de los
                                    contenidos del Sitio se otorga de forma expresa o implícita sin el consentimiento
                                    previo por escrito de los respectivos autores y/o propietarios. Para todo contenido
                                    del Sitio no público, es decir aquel que se acceda mediante registro previo, Usted
                                    no puede transferir lo a cualquier otra persona a menos que la o lo notifique, y que
                                    éstos acepten, las obligaciones derivadas de estos Términos. Usted acepta que Usted
                                    no va a referirse o atribuir cualquier información nuestra en cualquier medio
                                    público (independientemente de su forma) para publicidad, relaciones públicas,
                                    comercialización u otros propósitos (incluyendo informar o influir sobre cualquier
                                    otra tercera parte).</span></p>
                            <p><span style="line-height: 1.5em;">A menos que se especifique lo contrario, Usted no podrá
                                    vender, alquilar, modificar, reproducir, mostrar, distribuir, redistribuir,
                                    republicar, retransmitir, participar en la transferencia o venta, crear trabajos
                                    derivados, o de cualquier manera explotar o utilizar el contenido del Sitio, en todo
                                    o en parte, en cualquier forma sin el consentimiento previo por escrito de los
                                    respectivos autores y/o propietarios.</span></p>
                            <p><span style="line-height: 1.5em;">Los nombres, marcas, logotipos y/o el texto que aparece
                                    en el contenido del sitio («Marcas») son marcas registradas o marcas de hecho de
                                    nuestra propiedad y/o de terceros protegidos por todas las leyes aplicables. Dichas
                                    marcas no podrán ser utilizadas en cualquier forma que no esté expresamente
                                    autorizada por nosotros o por sus respectivos titulares.</span></p>
                            <p>Usted acepta que no podrá copiar ni reproducir ninguna marca del Sitio, salvo
                                autorización expresa de hacerlo, para dar a entender cualquier relación con nosotros.
                            </p>
                            <p><b style="line-height: 1.5em;">Reglas e Información del Usuario</b></p>
                            <p><span style="line-height: 1.5em;">Como usuario del Servicio, Usted se compromete a leer
                                    cuidadosamente y acatar el Acuerdo, incluidas las normas de conducta de los usuarios
                                    como se especifica a continuación. Usted debe ser mayor de 18 años para acceder y
                                    utilizar Nuestro Sitio y servicios. Si es mayor de 18 años, Usted se compromete a
                                    asumir la responsabilidad plena y activa para evitar el uso de Nuestro Sitio y
                                    servicios en relación a los menores de 18 años. Si Usted es menor de 18 años, no
                                    podrá acceder ni utilizar el Sitio y los Servicios sin la supervisión parental o de
                                    su tutor legal.</span></p>
                            <p><span style="line-height: 1.5em;">Usted reconoce y acepta que las transmisiones y
                                    comunicaciones hacia y desde el Sitio, incluyendo la transmisión de cualquier
                                    información del usuario (se define a continuación), no son confidenciales, y pueden
                                    ser leídas o interceptadas por otros usuarios del Sitio. Usted también reconoce que,
                                    Usted es el único responsable de la precisión y exhaustividad de toda comunicación
                                    que realice en nuestro Sitio Web. Al publicar mensajes, cargar archivos, introducir
                                    datos y/o información, o participar en cualquier otra forma de comunicación a través
                                    del Sitio o para producir cualquier información para el Sitio (colectivamente
                                    denominada «Información de Usuario»), Usted nos autoriza a utilizar la misma
                                    libremente en nuestra página web. Toda la información del usuario se rige por
                                    nuestra Política de Privacidad. Si usted nos proporciona información, incluyendo
                                    pero no limitado a la retroalimentación, datos, respuestas, preguntas, comentarios,
                                    sugerencias, planes, ideas o similares, dicha información será considerada como no
                                    confidencial y no asumimos ninguna obligación a proteger dicha información para su
                                    divulgación, salvo en la medida prevista en Nuestra Política de Privacidad. La
                                    presentación de esa información en ningún modo impedirá la compra, fabricación o uso
                                    de productos similares, servicios, planes e ideas por nosotros para cualquier
                                    propósito que sea y tendremos la libertad de reproducir, utilizar, divulgar y
                                    distribuir la información a otros sin restricción. . A menos que se especifique lo
                                    contrario, Usted renuncia a todo derecho alguno de reclamo contra nosotros por
                                    cualquier infracción de los derechos de propiedad, derechos de propiedad
                                    intelectual, derechos de privacidad y publicidad, derechos morales y derechos de
                                    atribución en relación con dicha información del usuario ya san estas supuestas o
                                    reales.</span></p>
                            <p>Nosotros no asumimos ninguna responsabilidad por la divulgación de la información del
                                Usuario que resulte como consecuencia de errores en la transmisión por parte de terceros
                                o actos no autorizados de terceros.</p>
                            <p><b style="line-height: 1.5em;">Uso Inapropiado de Nuestro Sitio</b></p>
                            <p><span style="line-height: 1.5em;">Usted acepta que no utilizará Nuestro Sitio para
                                    publicar, transmitir o distribuir, cualquier material que (1) viole alguna ley
                                    estatal, nacional o internacional; (2) viole los derechos de propiedad, derechos de
                                    propiedad intelectual (incluyendo, sin limitación derechos de autor y derechos de
                                    marca), derechos de privacidad o publicidad, derechos morales, derechos de
                                    atribución, u otros derechos similares de terceros; (3) tenga por intención anunciar
                                    o promocionar negocios incluyendo, pero no limitado a cualquier esquema de
                                    comercialización de niveles múltiples; (4) pretenda ser proporcionado por otra
                                    persona; (5) sea obsceno, acosador, amenazante, difamatorio, calumnioso o abusivo; o
                                    (6) sea una carta en cadena o parte de un esquema piramidal. Usted se compromete a
                                    no hacerse pasar por otra persona o entidad o tergiversar su afiliación con una
                                    persona o entidad. Usted se compromete a no «acechar» o acosar a otra persona o
                                    almacenar datos personales sobre otros usuarios. Está prohibido introducir cualquier
                                    material en Nuestro Sitio que contenga virus, caballos de Troya, gusanos, bombas de
                                    tiempo, u otras rutinas de programación informática que puedan dañar, interferir o
                                    apropiarse de nuestro Sitio o cualquier información que se encuentre en nuestro
                                    Sitio. Nos reservamos el derecho a eliminar cualquier información que se publique en
                                    Nuestro Sitio y que, a nuestra única discreción, determinemos que sea inexacta,
                                    violatoria de la ley o que de algún modo infrinja nuestra </span><b
                                    style="line-height: 1.5em;">Política de Privacidad</b><span
                                    style="line-height: 1.5em;">. Si se utiliza, o intenta utilizar Nuestro Sitio o su
                                    contenido con fines indebidos, incluyendo, sin limitaciones, la manipulación, la
                                    piratería, la modificación, o de otra manera se intenta corromper la seguridad de
                                    nuestro Sitio, Usted será responsable de todos los daños y perjuicios, incluyendo
                                    pero no limitado a sanciones civiles y penales.</span></p>
                            <p><b style="line-height: 1.5em;">Renuncia de Garantías</b></p>
                            <p><span style="line-height: 1.5em;">Aunque nos esforzamos por la exactitud de todos los
                                    elementos del Material del Sitio, éste puede contener imprecisiones y/o errores
                                    tipográficos. No nos hacemos responsables sobre la exactitud, fiabilidad, integridad
                                    o puntualidad del material de este Sitio Web o de los resultados que se obtengan del
                                    uso de Nuestro Sitio. Usted utiliza Nuestro Sitio y su Material bajo su propio
                                    riesgo.</span></p>
                            <p><b style="line-height: 1.5em;">Limitación de la responsabilidad</b></p>
                            <p><b style="line-height: 1.5em;">EN NINGÚN CASO SEREMOS RESPONSABLES POR NINGÚN DAÑO,
                                    PÉRDIDA DE BENEFICIOS O DAÑOS CAUSADOS POR LA PÉRDIDA DE DATOS O INTERRUPCIÓN DE
                                    CUALQUIER ACTIVIDAD COMERCIAL QUE RESULTEN DEL USO O IMPOSIBILIDAD DE USO DE
                                    MATERIALES EN ESTE SITIO WEB O SITIOS ENLAZADOS A ESTE SITIO WEB.</b></p>
                            <p><b style="line-height: 1.5em;">Comisiones</b></p>
                            <p><span style="line-height: 1.5em;">Las tarifas publicadas en este sitio Web son precisas
                                    sólo a partir de la fecha de publicación y están sujetas a cambios.</span></p>
                            <p><b style="line-height: 1.5em;">Enlaces</b></p>
                            <p><span style="line-height: 1.5em;">Este sitio Web contiene enlaces a sitios Web propiedad
                                    de terceros («Sitios de Terceros»). Si desea utilizar estos enlaces, saldrá de
                                    Nuestro Sitio. Si Usted decide visitar cualquier sitio enlazado, lo hace bajo su
                                    propio riesgo y es su responsabilidad tomar todas las medidas de protección para
                                    evitar un virus u otros elementos destructivos. También acepta que no somos
                                    responsables por cualquier daño o pérdida directa o indirecta causada o
                                    supuestamente causada por o en conexión con el uso o la confianza puesta en el
                                    contenido, los productos o servicios. Estos vínculos se proporcionan únicamente como
                                    una conveniencia para Usted y no son un aval por parte de nosotros de los contenidos
                                    en esos otros sitios, cuyo contenido puede cambiar en cualquier momento sin previo
                                    aviso. No somos responsables por el contenido de los sitios enlazados, su contenido
                                    y/o la exactitud de materiales en dichos sitios, ni tampoco asumimos responsabilidad
                                    con respecto a las prácticas de privacidad de tales sitios. Si usted está preocupado
                                    acerca de las prácticas de privacidad de un sitio ajeno, por favor consulte con su
                                    política de privacidad. No somos responsables por las aplicaciones, admisión,
                                    prácticas de contratación y de empleo y acceso a los servicios, programas,
                                    instituciones y servicios de tales sitios provistos por terceros. No nos hacemos
                                    responsables de cualquier uso indebido de la propiedad intelectual que se encuentre
                                    en esos sitios.</span></p>
                            <p><b style="line-height: 1.5em;">Nuestra Gestión del Contenido del Sitio</b></p>
                            <p><span style="line-height: 1.5em;">Nos reservamos el derecho, a nuestra única discreción,
                                    a establecer las prácticas relacionadas con el uso del Servicio por parte de un
                                    visitante y el almacenamiento de cualquier contenido del Sitio publicado en el
                                    Sitio. No tenemos ninguna responsabilidad u obligación por el borrado o falla al
                                    guardar cualquier contenido del Sitio y otras comunicaciones mantenidas o
                                    transmitidas a través del Servicio.</span></p>
                            <p><span style="line-height: 1.5em;">Usted también entiende que podemos a nuestra única
                                    discreción, rechazar o remover cualquier contenido disponible a través del Servicio,
                                    por cualquier razón, en cualquier momento y sin justificación. Nos reservamos el
                                    derecho de modificar, rechazar o eliminar cualquier información transmitida en
                                    Nuestro Sitio que Nosotros, a nuestra única discreción, entendamos que es
                                    inaceptable o en violación del Acuerdo.</span></p>
                            <p><span style="line-height: 1.5em;">Podemos conservar, divulgar o revisar cualquier
                                    contenido del Sitio si así lo requiere la ley o resulte necesario para cumplir con
                                    cualquier proceso legal, hacer cumplir el Acuerdo, responder a cualquier reclamo
                                    sobre la violación de cualquier tercera parte, o proteger los derechos, propiedad o
                                    seguridad personal de la organización o cualquier visitante a nuestro Sitio.</span>
                            </p>
                            <p><b style="line-height: 1.5em;">Terminación o Cambio en el Servicio</b></p>
                            <p><span style="line-height: 1.5em;">Podemos inmediatamente, en cualquier momento y a
                                    nuestra entera discreción, (1) terminar o limitar su uso o acceso al Servicio, o
                                    cualquier parte del mismo, o (2) retirar y eliminar cualquier Contenido del Sitio
                                    dentro del Servicio, por cualquier motivo, incluyendo, sin limitación, su falta de
                                    uso, su incumplimiento de los términos y condiciones, o si creemos que usted ha
                                    violado o actuado inconsistentemente con la letra o el espíritu del Acuerdo. Podemos
                                    cambiar, suspender o interrumpir cualquier aspecto del Sitio o Servicio, o cualquier
                                    parte del mismo, o imponer límites a cualquier característica o servicio, incluyendo
                                    la disponibilidad de cualquier característica del Sitio, base de datos o el
                                    Contenido del Sitio, por cualquier motivo, en cualquier momento, y sin previo aviso.
                                    Usted acepta que Nosotros no seremos responsables de ninguna manera con Usted o
                                    cualquier tercera parte por ninguna acción que tomemos, como se describe en este
                                    documento.</span></p>
                            <p><b style="line-height: 1.5em;">E-Mail</b></p>
                            <p><span style="line-height: 1.5em;">Nuestro Sitio ofrece la oportunidad de conectarse vía
                                    correo electrónico con varios individuos. Esta funcionalidad es sólo para fines
                                    comerciales. No revele ninguna información personal acerca de Usted. No utilice el
                                    servicio de correo electrónico para revelar información acerca de su situación
                                    financiera, incluyendo los activos, pasivos o deudas.</span></p>
                            <p><b> </b><b>Legislación Aplicable</b></p>
                            <p>Los Términos y Condiciones del Sitio se regirán e interpretarán de acuerdo con las leyes
                                de la República Argentina. Los jueces federales en lo civil y comercial de la Ciudad de
                                Buenos Aires serán los tribunales exclusivamente competentes para entender en todas las
                                controversias legales emergentes de o relacionadas con el Sitio.</p>
                            <p><b> </b><b>Ubicación</b></p>
                            <p>Este sitio se origina en Buenos Aires, Capital Federal, Por lo tanto, nosotros no hacemos
                                ninguna declaración que la información en Nuestro Sitio sea apropiada o disponible para
                                su uso en cualquier lugar que no sea la Ciudad de Buenos Aires, incluyendo cualquier
                                lugar fuera de la República Argentina. El acceso al Sitio desde otros territorios está
                                estrictamente prohibido si dicho acceso es ilegal en dicha jurisdicción. Usted acepta
                                que su decisión de acceder a Nuestro Sitio se realiza únicamente bajo su propia
                                iniciativa, y que Usted es el único responsable en cumplir con todas las leyes
                                aplicables relacionadas con dicho acceso.</p>
                            <p><b> </b><b>Usuarios Internacionales</b></p>
                            <p>No hacemos ninguna declaración que Nuestro Contenido del Sitio sea apropiado o disponible
                                para su uso en cualquier jurisdicción o país que no sea Argentina. Usted no puede usar
                                Nuestro Sitio o exportar el contenido del Sitio en violación de las leyes y regulaciones
                                de exportación de Argentina. Dada la naturaleza global de Internet, Usted acepta cumplir
                                con todas las reglas locales (de donde usted reside físicamente) respecto a la conducta
                                y el contenido de Internet. También se compromete a cumplir con todas las leyes
                                aplicables a la transmisión de datos técnicos exportados desde Argentina o del país en
                                el que Usted reside físicamente.</p>
                            <p><b> </b><b>Términos Misceláneos</b></p>
                            <p>Este Acuerdo constituye el acuerdo completo entre Usted y Nosotros, y reemplaza cualquier
                                acuerdo anterior que haya existido entre Usted y Nosotros. Usted también puede estar
                                sujeto a términos y condiciones que resulten aplicables cuando se utiliza cualquier
                                contenido de terceros, software u otra información de propiedad adicionales. Si alguna
                                de las disposiciones en virtud de este Acuerdo es considerada por un tribunal de
                                jurisdicción competente para ser inválida o inaplicable por cualquier motivo, las
                                disposiciones restantes continuarán en plena vigencia y sin verse menoscabadas o
                                anuladas de forma alguna. Nuestra incapacidad para ejercer o hacer valer cualquier
                                derecho o disposición de este Acuerdo no constituirá una renuncia a tal derecho o
                                disposición. Podemos ceder nuestros derechos y obligaciones bajo este Acuerdo en
                                cualquier momento y sin previo aviso. Los títulos de las secciones en este Acuerdo son
                                por conveniencia solamente y no tienen ningún efecto legal.</p>
                            <p>Toda la información relacionada con el empleo en este sitio Web está sujeta a
                                modificación o eliminación a nuestra entera discreción. Nada en este Sitio crea un
                                contrato expreso o implícito de empleo o contratación directa o indirecta.</p>
                            <p><b>Política de Privacidad</b></p>
                            <p>Esta página establece la política de privacidad bajo la cual Usted, el visitante del
                                sitio Web («Usted» o “Suyo” o «Usted Mismo») podrá utilizarlo («Nuestro Sitio»), que es
                                propiedad de Petyo Shop («Nosotros» o «Nuestro»).</p>
                            <p>Respetamos sus intereses de privacidad y operamos este sitio por estos principios. Hemos
                                tomado medidas razonables para proteger la integridad y confidencialidad de la
                                información de identificación personal que Usted pueda suministrar.</p>
                            <p><b>Presentación Voluntaria de Información</b></p>
                            <p><b> </b>Usted puede utilizar el sitio Web de Petyo sin revelar información relacionada con
                                su identificación personal, excepto cuando sea expresamente requerida, y no obtendremos
                                dicha información a menos que Usted decida enviarla a Nosotros. Cualquier información
                                que envíe se utilizará solamente internamente; Sin embargo, la entrega de la información
                                autoriza dicho uso interno por Nosotros y Nuestros empleados. En particular, tenga en
                                cuenta que la entrega de un correo electrónico autoriza a ponernos en contacto con usted
                                por correo electrónico.</p>
                            <p><b> </b><b>Cookies</b></p>
                            <p>Tenga en cuenta que usamos «cookies», que son pequeños archivos almacenados en el disco
                                duro de su ordenador que se utilizan para realizar un seguimiento de cierta información.
                                Estas cookies nos permiten rastrear y conocer los intereses de nuestros usuarios para
                                mejorar su experiencia en Nuestro Sitio. Por ejemplo, las cookies suelen permitir a su
                                navegador recordar las páginas que Usted ha visitado y Nos ayudará a saber cuánto
                                tráfico recibe nuestra página. Este proceso no revela ninguna información personal
                                acerca de la persona que visita la página (por ejemplo, un nombre de usuario o
                                contraseña) a menos que la persona haya dado previamente dicha información. Si Usted
                                encuentra los cookies objetables, consulte la documentación de su navegador para obtener
                                información sobre la forma de bloquear o borrar las cookies.</p>
                            <p><b> </b><b>Archivos de registro</b></p>
                            <p>Además, Nuestro servidor Web recopila y guarda la información por defecto habitualmente
                                registrada por el software servidor World Wide Web. Nuestros registros contienen la
                                siguiente información para cada solicitud: fecha, hora, dirección IP de origen y el
                                nombre de dominio, objeto solicitado, y el estado de finalización de la solicitud.
                                Utilizamos estos registros para ayudar a mejorar nuestro servicio mediante la evaluación
                                del nivel de demanda de Nuestro Sitio y detectar cualquier error en el sitio que pudiera
                                haber. Estos registros pueden ser mantenidos durante un período indefinido de tiempo y
                                ser utilizados en cualquier momento y de cualquier manera necesaria para evitar
                                violaciones de seguridad y proteger la integridad de los datos en Nuestros servidores.
                            </p>
                            <p><b>El Uso de la Información Recopilada</b></p>
                            <p>Cualquier información que recopilemos, si se entregó voluntariamente o fue
                                automáticamente recogida, se utilizará únicamente para fines internos. La información de
                                facturación que se lleva a cabo directamente en Nuestro Sitio se realiza a través de
                                terceras entidades prestadoras del servicio, y se recoge a través de un servidor seguro
                                y no se comparte con otras organizaciones distintas de la entidad emisora ​​de las
                                tarjetas de crédito. Petyo no tiene acceso al número de Su tarjeta de crédito y cualquier
                                inconveniente respecto al proceso de facturación y autorización debe ser solucionado
                                exclusivamente a través de la prestadora del servicio de cobro vía su sitio Web u otro
                                medio, si lo tuviese. Nuestra política es no divulgar o vender cualquier información del
                                usuario a terceros. Nos reservamos el derecho de revelar la información recolectada, si
                                así lo requiere la ley o en caso de actuar en la creencia de buena fe que dicha
                                divulgación es necesaria para proteger nuestros derechos, propiedad o para responder a
                                una situación de emergencia.</p>
                            <p><b></b><b>Revisión, Actualización y Supresión de la Información Recopilada</b></p>
                            <p><span style="line-height: 1.5em;">Si usted está preocupado acerca de la información que
                                    Nos ha proporcionado o desea revisar, actualizar o eliminar dicha información, por
                                    favor envíenos un email a </span><a style="line-height: 1.5em;"
                                    href="mailto:info@argentinagbc.org.ar">info@argentinagbc.org</a><span
                                    style="line-height: 1.5em;">. Haremos todos los esfuerzos razonables para cumplir
                                    con sus peticiones.</span></p>
                            <p><b style="line-height: 1.5em;">Enlaces</b></p>
                            <p><b style="line-height: 1.5em;"></b>Por favor, consulte nuestra página en <a
                                    href="http://localhost:3000/otro/termsandConditions">Términos y condiciones</a>.</p>
                            <p><b> </b><b>Seguridad</b></p>
                            <p>Este sitio toma las precauciones razonables para proteger la información de nuestros
                                usuarios. Tenga en cuenta, sin embargo, que las transmisiones electrónicas a través de
                                Internet no son necesariamente seguras de que sean interceptadas, y Nosotros no
                                garantizamos la seguridad o confidencialidad de las transmisiones. Nos reservamos el
                                derecho de actualizar o alterar nuestras prácticas de seguridad, siempre y cuando sea
                                apropiado hacerlo. Al igual que con nuestros <a
                                    href="http://localhost:3000/otro/termsandConditions">Términos y Condiciones</a>, Usted
                                debe comprobar Nuestro suministro de seguridad cada vez que visita Nuestro Sitio para
                                identificar y entender los cambios realizados desde su última visita.</p>
                            <p><b style="line-height: 1.5em;">Notificación de Cambios</b></p>
                            <p><span style="line-height: 1.5em;">Si decidimos cambiar nuestro enfoque de privacidad,
                                    publicaremos esos cambios en esta Política de Privacidad para que los usuarios estén
                                    siempre enterados de qué información recopilamos, cómo la usamos y bajo qué
                                    circunstancias la revelamos. Los cambios en la Política de Privacidad tendrán la
                                    fecha, y serán efectivos a partir de la fecha especificada en adelante. Al igual que
                                    con nuestros </span><a style="line-height: 1.5em;"
                                    href="http://localhost:3000/otro/termsandConditions">Términos y Condiciones</a><span
                                    style="line-height: 1.5em;">, usted debe comprobar nuestra política de privacidad
                                    cada vez que visite Nuestro Sitio para identificar y entender los cambios realizados
                                    desde su última visita.</span></p>

                        </article>

                    </section>
                </div>
                <!-- FIN sección de páginas -->

            </div>

            <a href="https://api.whatsapp.com/send?phone=+5493873693495" class="btn-flotante">
                <i class="fab fa-whatsapp"></i>
            </a>
            <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
            <!-- FOOTER -->
            <%- include('../partials/footer') %>
            <script src="/js/bottomup.js"></script>

    </body>

</html>