<footer>

    <section>
      <div class="lista">
          <nav>
              <ul>
                  <h4>Categorías</h4>
                  <li><a href="/products/category/1">Perro</a></li>
                  <li><a href="/products/category/2">Gatos</a></li>
                  <li><a href="/products/category/3">Aves</a></li>
                  <li><a href="/products/category/4">Reptiles</a></li>
              </ul>
            
          </nav>
    
      </div>

      <div class="redes">
          <h3>Seguinos en nuestras redes</h3>
          <div>
              <a href="https://api.whatsapp.com/send?phone=+5493873693495"><i class="fab fa-whatsapp"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-facebook-f"></i></a>
          </div>    
          <div class="ayuda">
              <p><a href="/otro/frequentquestions">Preguntas frecuentes</a></p>
              <p><a href="/otro/privacypolicy">Política de privacidad</a></p>
              <p><a href="/otro/termsandConditions">Términos y condiciones</a></p>
          </div>
      </div>

      <div class="lista">
          <nav>
                
              <ul>
                <li><a href="/otro/feeding">Alimentacion</a></li>
                <li><a href="/otro/community">Comunidad</a></li>
                <li><a href="/otro/aboutus">¿Quienes somos?</a></li>
              </ul>
  
          </nav>
  
      </div>
  
  </section>
  </footer>
