<footer>

    <section>
      <article class="lista">
          <nav>
              <ul>
                  <h4>Categorías</h4>
                  <li><a href="/products/category/1">Perro</a></li>
                  <li><a href="/products/category/2">Gatos</a></li>
                  <li><a href="/products/category/3">Aves</a></li>
                  <li><a href="/products/category/4">Reptiles</a></li>
              </ul>
            
          </nav>
    
      </article>

      <article class="redes">
          <h3>Seguinos en nuestras redes</h3>
          <div>
              <a href=""><i class="fab fa-whatsapp"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-facebook-f"></i></a>
          </div>    
          <div class="ayuda">
              <p>Ayuda</p>
              <p>Política de privacidad</p>
              <p>Términos y condiciones</p>
          </div>
      </article>

      <article class="servicios">
          <nav>
                
              <ul>
                  <h4>Servicios</h4>
                  <li>Consejos para tu mascota</li>
                  <li>Venta mayotista</li>
                  <li>Mi cuenta</li>
              </ul>
  
          </nav>
  
      </article>
  
  </section>
  </footer>