<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tittle  %> </title>
    <link href="/images/isotipo.png" type="image/x-icon" rel="shortcut icon" />
    <link rel="stylesheet" href="/styleSheet/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8a6b29c899.js" crossorigin="anonymous"></script>
</head>
<body>
    <main class="main-contact">
        <a class="home-contact" href="/">Ir al inicio</i></a>
        <img class="img-logo-contact" src="/images/logotipo.png" alt="">
        <form class="form-contact" action="">
            <div>
                <section style="display: flex; justify-content: center; flex-wrap: wrap;">
                    <article class="article-help">
                        <label class="title-section">¿Nececitas ayuda?</label>
                        <p>Selecciona alguna de las opciones de la siguiente lista. Para poder darte una respuesta por favor ayúdanos llenando el formulario, te responderemos a la brevedad.</p>
                    </article>
                    <article class="article-country-language">
                        <select class="select-country" name="country" id="">
                            <option value="" selected hidden>Pais</option>
                            <option value="Argentina">Argentina</option>
                        </select>
                        <select class="select-language" name="language" id="">
                            <option value="" selected hidden>Idioma</option>
                            <option value="Español">Español</option>
                        </select>
                    </article>
                </section>
                <hr>
                <section class="options-help">
                    <label class="subtitle-section label-absolute">Contáctanos</label>
                    <article>
                        <a>
                            <span class="fas fa-question" style="color:white;">
                            </span>
                        </a>
                        <label>¿Tienes dudas?</label>
                    </article>
                    <article>
                        <a>
                            <i class="far fa-thumbs-up" style="color:white;"></i>
                        </a>
                        <label>Dejanos un comentario</label>
                    </article>
                    <article>
                        <a>
                            <i class="far fa-thumbs-down" style="color:white;"></i>
                        </a>
                        <label>Sugerencias o reclamos</label>
                    </article>
                </section>
            </div>
            <div class="message-div">
                <label class="subtitle-section">Mensaje*</label>
                <div style="align-items: center;">
                    <textarea name="message" id="" cols="30" rows="10"></textarea>
                </div>
                
            </div>
            <div>
                <label for="input-file-contact"></label>
                <input type="file" id="input-file-contact">
                <label class="max-message">Máximo 4.3MB por archivo. Formatos permitidos: xps, pdf, doc, docx, rtf, txt, xls, xlsx, csv, bmp, png, jpeg o jpg.</label>
                <label for="" class="max-message">Por favor incluye un adjunto para tu producto.</label>
            </div>
            <div class="contact-information">
                <label class="subtitle-section">Información de contacto</label>
                <section>
                    <input type="text" name="name" placeholder="Nombre*">
                    <input type="text" name="lastName" placeholder="Apellido*">
                    <input type="text" name="email" placeholder="Correo Electronico*">
                    <input type="text" name="address" placeholder="Direccion">
                    <input type="text" name="city" placeholder="Ciudad">
                    <input type="text" name="postalCode" placeholder="Codigo postal">
                </section>
            </div>
            <div>
                <label class="subtitle-section">¿Cómo quisieras que te contactemos?</label>
                <section>
                    <select name="contact" id="" class="select-contact-email">
                        <option value="" selected hidden>Elegir una opcion*</option> 
                        <option value="email">Correo Electronico</option> 
                    </select>
                </section>
                <section style="margin-bottom: 10px;">
                    <label for="">Estoy de acuerdo que Petyo procese mi información personal como indica la politica de datos <a href="">Nota de privacidad</a></label>
                    <input type="checkbox">
                </section>
            </div>
            <button type="submit">Contactar</button>
            <a href="/" class="button-cancel">Cancelar</a>
        </form>
    </main>
</body>
</html>