<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/images/isotipo.png" type="image/x-icon" rel="shortcut icon" />
    <title>Confirmación de login</title>
    <link rel="stylesheet" href="styleSheet/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8a6b29c899.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="form-container">
        <img src="/images/floatingImage.png" alt="" class="floating-image-form">
        <img src="/images/logo.png" alt="" class="logo-form">
        <a href="/login" class="close"><img src="/svg/check-and-cross-marks.svg" alt=""></a>
        <h2 class="write-password">Escribir Contraseña</h2>
        <form action="" class="email-form"><input type="password" placeholder="Contraseña"></form>
        <h6 class="error-message">Contraseña incorrecta</h6>
        <h6 class="keep-sesion"><input type="checkbox">Mantener sesión iniciada</h6>
        <button class="button-forms login-button"><a href="/">iniciar sesión</a></button>
    </div>
    <a href="/register" class="recovery-options">
        <i class="fas fa-key"></i><p>Opciones de recuperacion de tu cuenta</p>
    </a>
</body>
</html>