<!DOCTYPE html>
<html lang="es">

 <!-- HEAD -->
 <%- include('./partials/head') %> 

<body>
    
   <!-- HEADER -->
<%- include('./partials/header') %> 

    <nav class="nav-cart-favourite">
        <a href="#">Carrito de Compras</a>
        <a href="#">Favoritos</a>
    </nav>
    <div class="cart-container">
        <div class="products-cart-container">
            <article class="product-cart">
                <picture>
                    <img src="/images/prodcarDispenser.png" alt="">
                </picture>
                <div class="cart-detail">
                    <input type="checkbox" class="select-product-cart">
                    <h2>Producto</h2> 
                    <p>Lorem ipsum dolor sit amet.</p>
                    <h3 class="price-product-cart">Precio: $0,00</h3>
                </div>
                <div class="amount">
                    <label for="tentacles">Cantidad</label>
                    <div>
                        <span class="down" onClick='decreaseCount(event, this)' style="cursor: pointer;">-</span>
                        <input type="text" value="1">
                        <span class="up" onClick='increaseCount(event, this)' style="cursor: pointer;">+</span>
                    </div>
                </div>
            </article>
            <article class="product-cart">
                <picture> 
                    <img src="/images/prodcarCollar.png" alt="">
                </picture>
                <div class="cart-detail">
                    <input type="checkbox" class="select-product-cart">
                    <h2>Producto</h2> 
                    <p>Lorem ipsum dolor sit amet.</p>
                    <h3 class="price-product-cart">Precio: $0,00</h3>
                </div>
                <div class="amount">
                    <label for="tentacles">Cantidad</label>
                    <div>
                        <span class="down" onClick='decreaseCount(event, this)' style="cursor: pointer;">-</span>
                        <input type="text" value="1">
                        <span class="up" onClick='increaseCount(event, this)' style="cursor: pointer;">+</span>
                    </div>
                </div>
            </article>
            <article class="product-cart">
                <picture> 
                    <img src="/images/prodcarDispenser.png" alt="">
                </picture>
                <div class="cart-detail">
                    <input type="checkbox" class="select-product-cart">
                    <h2>Producto</h2> 
                    <p>Lorem ipsum dolor sit amet.</p>
                    <h3 class="price-product-cart">Precio: $0,00</h3>
                </div>
                <div class="amount">
                    <label for="tentacles">Cantidad</label>
                    <div>
                        <span class="down" onClick='decreaseCount(event, this)' style="cursor: pointer;">-</span>
                        <input type="text" value="1">
                        <span class="up" onClick='increaseCount(event, this)' style="cursor: pointer;">+</span>
                    </div>
                </div>
            </article>
            <article class="product-cart">
                <picture> 
                    <img src="/images/prodcarProplangato.png" alt="">
                </picture>
                <div class="cart-detail">
                    <input type="checkbox" class="select-product-cart">
                    <h2>Producto</h2> 
                    <p>Lorem ipsum dolor sit amet.</p>
                    <h3 class="price-product-cart">Precio: $0,00</h3>
                </div>
                <div class="amount">
                    <label for="tentacles">Cantidad</label>
                    <div>
                        <span class="down" onClick='decreaseCount(event, this)' style="cursor: pointer;">-</span>
                        <input type="text" value="1">
                        <span class="up" onClick='increaseCount(event, this)' style="cursor: pointer;">+</span>
                    </div>
                </div>
            </article>
            <article class="product-cart">
                <picture> 
                    <img src="/images/prodcarTransportador.png" alt="">
                </picture>
                <div class="cart-detail">
                    <input type="checkbox" class="select-product-cart">
                    <h2>Producto</h2> 
                    <p>Lorem ipsum dolor sit amet.</p>
                    <h3 class="price-product-cart">Precio: $0,00</h3>
                </div>
                <div class="amount">
                    <label for="tentacles">Cantidad</label>
                    <div>
                        <span class="down" onClick='decreaseCount(event, this)' style="cursor: pointer;">-</span>
                        <input type="text" value="1">
                        <span class="up" onClick='increaseCount(event, this)' style="cursor: pointer;">+</span>
                    </div>
                </div>
            </article>
            <nav class="button-cart">
                <button>
                    Eliminar seleccionados
                </button>
            </nav>
        </div>
        <div class="buy-cart-container">
            <div class="paws">
                <img src="/svg/paw.svg" alt="">
                <img src="/svg/paw.svg" alt="">
                <img src="/svg/paw.svg" alt="">
            </div>
            <h2 class="subTotal">
                Subtotal: <p class="subTotal-price">$0,00</p>
            </h2>
            <h2 class="shipping-cost">
                Costo de envio <p class="shipping-cost-price">$0,00</p>
            </h2>
            <div class="line-and-cart">
                <div class="cart-line"></div>
                <img src="/svg/icon-shopping-cart.svg" alt="">
                <div class="cart-line"></div>
            </div>
            <div class="total-and-price-cart">
                <h2 class="total-cart">Total</h2>
                <h2 class="total-price-cart">$0,00</h2>
            </div>
            <button class="buy-cart"><a href="#">Comprar</a></button>
            <div class="buy-details-cart"></div>
        </div>
    </div>
    
    <!-- FOOTER -->  
    <%- include('./partials/footer') %> 

    <a href="https://api.whatsapp.com/send?phone=+5493873693495" class="btn-flotante">
        <i class="fab fa-whatsapp"></i>
    </a>
</body>
</html>