.logito {
    width: 8%;
    height: 8%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.img-fluid{
    margin-left: 30%;
    max-width: 50%;
    height: auto;
    border-radius: 2%;
}

.texton {
    display: flex;
    text-align: justify;
    color: white;
    padding: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

