.page-content .grid > .article-load-category {
    display: flex;
    background: #fff0;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    justify-content: center;
    height: fit-content;
    height: -moz-fit-content;
    box-shadow: none;
}
.category-load-container{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-load-container .form-load{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.939);
    width: 290px;
    border-radius: 10px;
}

.category-load-container .form-load label{
    font-weight: bold;
    margin: 0;
}
.category-load-container .form-load .preview-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category-load-container .form-load .preview-image-container .btn-load-image-admin{
    background: linear-gradient(0deg, rgb(61, 141, 15) , rgb(98, 211, 32));
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    color: white;
    text-shadow: 0 0  10px black;
    border:none;
    border-radius: 5px;
    height: 30px;
    width: 170px;
    outline: none;
    box-shadow: 0 0 2px black;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.category-load-container .form-load .preview-image-container .btn-load-image-admin:hover{
    background: linear-gradient(0deg, rgb(98, 211, 32),rgb(61, 141, 15));
}
.category-load-container .form-load .preview-image-container .preview-image{
    width: 170px;
    box-shadow: 0 0 2px black;
    margin-bottom: 10px;
    cursor: zoom-in;
    transition: all 0.5s ease-in-out;
}
.category-load-container .form-load .preview-image-container .preview-image:hover{
    transform: scale(1.1);
}
.error-message{
    color: red;
}
.category-load-container .form-load .name-category-load{
    border: none;
    outline: none;
    height: 30px;
    box-shadow: 0 0 2px black;
    margin: 0 0 10px;
    border-radius: 5px;
    width: 170px;
}
.category-load-container .form-load .name-category-load:hover{
    border-bottom: solid 1px var(--mantis);
}
.category-load-container .form-load .btn-load-category{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0  10px black;
    background: linear-gradient(0deg, rgb(61, 141, 15) , rgb(98, 211, 32));
    margin: 10px 0;
    border:none;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    outline: none;
    box-shadow: 0 0 2px black;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.category-load-container .form-load .btn-load-category:hover{
    background: linear-gradient(0deg, rgb(98, 211, 32),rgb(61, 141, 15));
}
/* Tablet */
@media screen and (min-width:475px) {
    .category-load-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .category-load-container .form-load{
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.282);
        background-color: rgba(255, 255, 255, 0.939);
    }
}
/* Desktop */
@media screen and (min-width:1024px) {
    .category-load-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .category-load-container .form-load{
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.282);
    }
    .category-load-container .form-load label{
        font-size: 17px;
    }
    .category-load-container .form-load .preview-image-container{
        width: 300px;
    }
    .category-load-container .form-load .preview-image-container .btn-load-image-admin{
        width: 200px;
    }
    .category-load-container .form-load .preview-image-container .preview-image{
        width: 200px;
    }
    .category-load-container .form-load .name-category-load{
        width: 200px;
        font-size: 18px;
    }
}