.page-content .grid > .article-load-product {
    display: flex;
    background: #fff0;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    justify-content: center;
    height: fit-content;
    height: -moz-fit-content;
    box-shadow: none;
}
.product-load-container{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-load-container .form-load{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.939);
    width: 320px;
    border-radius: 10px;
}
.product-load-container .form-load .select-type-product{
    border: none;
    height: 30px;
    outline: none;
    background-color: rgba(93, 223, 17);
    color: white;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 170px;
    text-align: center;
}
.product-load-container .form-load .select-type-product:hover{
    background-color: rgba(112, 201, 60);
}
.product-load-container .form-load label{
    font-weight: bold;
    margin: 0;
}
.product-load-container .form-load .preview-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-load-container .form-load .preview-image-container .btn-load-image-admin{
    background: linear-gradient(0deg, rgb(61, 141, 15) , rgb(98, 211, 32));
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    color: white;
    text-shadow: 0 0  10px black;
    border:none;
    border-radius: 5px;
    height: 30px;
    width: 170px;
    outline: none;
    box-shadow: 0 0 2px black;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.product-load-container .form-load .preview-image-container .btn-load-image-admin:hover{
    background: linear-gradient(0deg, rgb(98, 211, 32),rgb(61, 141, 15));
}
.product-load-container .form-load .preview-image-container .preview-image{
    width: 170px;
    box-shadow: 0 0 2px black;
    margin-bottom: 10px;
    cursor: zoom-in;
    transition: all 0.5s ease-in-out;
}
.product-load-container .form-load .preview-image-container .preview-image:hover{
    transform: scale(1.2);
}
.error-message{
    color: red;
}
.product-load-container .form-load .name-product-load{
    border: none;
    outline: none;
    height: 30px;
    box-shadow: 0 0 2px black;
    margin: 0 0 10px;
    border-radius: 5px;
    width: 170px;
}
.product-load-container .form-load .name-product-load:hover{
    border-bottom: solid 1px var(--mantis);
}
.product-load-container .form-load .price-section-load{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 0 10px;
    border-radius: 5px;
}
.product-load-container .form-load .price-section-load .sing-price-load{
    font-weight: 400;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
}
.product-load-container .form-load .price-section-load .price-input-load{
    border: none;
    outline: none;
    height: 25px;
    box-shadow: 0 0 2px black;
    border-radius: 5px;
    width: 170px;
}
.product-load-container .form-load .price-section-load .price-input-load:hover{
    border-bottom: solid 1px var(--mantis);
}
.product-load-container .form-load .id-section-load{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.product-load-container .form-load .id-section-load .sing-id-load{
    font-weight: 400;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
}
.product-load-container .form-load .id-section-load .id-load-product{
    border: none;
    outline: none;
    height: 25px;
    box-shadow: 0 0 2px black;
    width: 170px;
}
.product-load-container .form-load .id-section-load .id-load-product:hover{
    border-bottom: solid 1px var(--mantis);
}
.product-load-container .form-load .description-product-load{
    border: none;
    outline: none;
    width: 300px;
    height: 100px;
    box-shadow: 0 0 2px black;
}
.product-load-container .form-load .btn-load-product{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0  10px black;
    background: linear-gradient(0deg, rgb(61, 141, 15) , rgb(98, 211, 32));
    margin: 10px 0;
    border:none;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    outline: none;
    box-shadow: 0 0 2px black;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.product-load-container .form-load .btn-load-product:hover{
    background: linear-gradient(0deg, rgb(98, 211, 32),rgb(61, 141, 15));
}
/* Tablet */
@media screen and (min-width:475px) {
    .body-product-load{
        background-image: url('/images/background/background.jpg');
        background-size: cover;
        background-repeat: repeat;
        background-attachment: fixed;
        background-position: center;
    }
    .product-load-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-load-container .form-load{
        width: 400px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.282);
        background-color: rgba(255, 255, 255, 0.939);
    }
    .product-load-container .form-load .select-type-product{
        margin-top: 10px;
        margin-bottom: 0;
    }
}
/* Desktop */
@media screen and (min-width:1024px) {
    .product-load-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-load-container .form-load{
        width: 600px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.282);
    }
    .product-load-container .form-load label{
        font-size: 17px;
    }
    .product-load-container .form-load .select-type-product{
        width: 200px;
    }
    .product-load-container .form-load .preview-image-container{
        width: 300px;
    }
    .product-load-container .form-load .preview-image-container .btn-load-image-admin{
        width: 200px;
    }
    .product-load-container .form-load .preview-image-container .preview-image{
        width: 200px;
    }
    .product-load-container .form-load .name-product-load{
        width: 200px;
        font-size: 18px;
    }
    .product-load-container .form-load .description-product-load{
        width: 400px;
        height: 200px;
    }
    .product-load-container .form-load .btn-load-product{
        height: 40px;
        width: 230px;
        font-size: 18px;
    }
    .product-load-container .form-load .price-section-load .price-input-load{
        width: 200px;
    }
    .product-load-container .form-load .id-section-load .id-load-product{
        width: 200px;
    }
}