.btn-flotante i{
	font-size: 25px; /* Cambiar el tamaño de la tipografia */
	color: #ffffff; /* Color del texto */
	border-radius: 60%; /* Borde del boton */
	background-color: rgb(61, 141, 15); /* Color de fondo */
	padding: 9px 10px; /* Relleno del boton */
	position: fixed;
	bottom: 5px;
	right: 5px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 999;
}
.btn-flotante i:hover {
	background-color: rgb(98, 211, 32); /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media screen and (min-width:480px) {
    .btn-flotante i{
        font-size: 30px;
    }
}
@media screen and (min-width:1024px) {
    .btn-flotante i{
        bottom: 10px;
        right: 10px;
    }
}

/* Btn floating admin */
.btn-floating-add-admin{
	display: flex;
    position: fixed;
    right: 5px;
    bottom: 5px;
    color: white;
    text-decoration: none;
    background-color: rgb(61, 141, 15);
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
	border-radius: 50%;
	transition: all 300ms ease 0ms;
	z-index: 999;
}
.btn-floating-add-admin:hover{
	color: white;
	text-decoration: none;
	background-color: rgb(98, 211, 32); /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
.btn-floating-add-admin .div-btn-admin{
	width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-floating-add-admin .div-btn-admin .icon-add{
	height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    margin-bottom: 4px;
	box-shadow: 0px 8px 13px black;
}
@media screen and (min-width:480px) {
    .btn-floating-add-admin{
        right: 8px;
        bottom: 8px;
        width: 60px;
        height: 60px;
    }
    .btn-floating-add-admin .div-btn-admin .icon-add{
        margin-bottom: 9px;
    }
}
@media screen and (min-width:1024px) {
    .btn-floating-add-admin{
        right: 40px;
        bottom: 10px;
        width: 70px;
        height: 70px;
    }
    .btn-floating-add-admin .div-btn-admin .icon-add{
        margin-bottom: 10px;
    }
}
