* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
} 

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

 p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home h1, .home h2, .home h3, .home h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

/* HEADER */

header.header-agus {
    background: linear-gradient(0deg, rgb(61, 141, 15) , rgb(98, 211, 32));
    padding: 5px 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header.header-agus div.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header.header-agus div.banner div.logo-menu {
    display: flex;
    align-items: center;
}

header.header-agus div.banner div.logo {
    width: 130px;
    margin-right: 15px;
}

header.header-agus div.banner div.logo a img {
    width: 100%;
}

header.header-agus div.banner div.lupa-menu {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

header.header-agus div.banner div.menu {
    display: block;
}

/* MENU HAMBURGUESA */

header.header-agus div.banner div.menu label i {
    font-size: 32px;
    color: var(--kombuGreen);
    opacity: 0.8;
    margin-left: 15px;
    margin-top: 5px;
}

header.header-agus div.banner div.menu input {
    display: none;
}

header.header-agus div.banner div.menu ul {
    display: none;
    background-color: rgb(133, 224, 80) ;
    width: 100%;
    padding-bottom: 5px;
}

header.header-agus div.banner div.menu ul li{
   
    width: 100%;
}
header.header-agus div.banner div.menu ul li a {
    color: var(--kombuGreen);
    font-size: 27px;
    font-weight: 500;
    padding: 10px;
    opacity: 0.8;
}

header.header-agus div.banner div.menu input:checked~ul{
    display: block;
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 1;
}

/* MENU TABLET Y DESKTOP */

header.header-agus div.banner div.menu-tablet-desktop {
    display: none;
}

header.header-agus div.banner div.menu-tablet-desktop label {
    font-size: 30px;
    font-weight:bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--kombuGreen);
    opacity: 0.8;
}

header.header-agus div.banner div.menu-tablet-desktop label i {
    font-size: 32px;
    color: var(--kombuGreen);
    opacity: 0.8;
    margin-left: 15px;
    margin-top: 5px;
    position: relative;
    left: -9px;
    top: 4px;
}

header.header-agus div.banner div.menu-tablet-desktop input {
    display: none;
}

header.header-agus div.banner div.menu-tablet-desktop ul {
    display: none;
    background-color: rgb(133, 224, 80) ;
    width: 100%;
    padding-bottom: 5px;
}

header.header-agus div.banner div.menu-tablet-desktop ul li{
   
    width: 100%;
}
header.header-agus div.banner div.menu-tablet-desktop ul li a {
    color: var(--kombuGreen);
    font-size: 27px;
    font-weight: 500;
    padding: 10px;
    opacity: 0.8;
}

header.header-agus div.banner div.menu-tablet-desktop input:checked~ul{
    display: block;
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 1;
}



header.header-agus div.banner div.lupa a i {
    font-size: 30px;
    opacity: 0.8;
    color: var(--kombuGreen)
}

header.header-agus div.banner div.carrito a i {
    font-size: 30px;
    opacity: 0.8;
    color: var(--kombuGreen);
    display: none;
}

header.header-agus div.banner div.user a i {
    font-size: 30px;
    opacity: 0.8;
    color: var(--kombuGreen);
    display: none;
    margin: 0 8px 0 14px;
}

/* CARRUSEL */

/* Carousel container */
.carousel-container {
    margin-top: 0 !important;
}

/* Esconde las imágenes por default */
.slides {
    display: none;
}

.slides img{
    width: 100%;
}

.dots {
    width: fit-content;
    margin: 0 auto;
}

/* Botones de anterior y siguiente */
.carousel-container .prev, .carousel-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Posición de el boton siguiente a la derecha */
.carousel-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* En hover, agrega un fondo con transparencia */
.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Puntos indicadores */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot-active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 7s;
    animation-name: fade;
    animation-duration: 7s;
}

@-webkit-keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1}
}

@media screen and (min-width: 1024px) {
    .carousel-container {
        margin: 20px auto 50px;
    }
}

.home main section.body h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.home main section.body div.slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    padding: 0 10px;
}
 
.home main section.body div.slider div.circulo {
    background-color: rgb(98, 211, 32);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgb(100, 100, 100);
}
/* FIN CARRUSEL */

/*Breakpoint */
.home main section.body div.slider div.circulo-gato, 
.home main section.body div.slider div.circulo-reptil {
    background-color: rgb(98, 211, 32);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgb(100, 100, 100);
    display: none;
}
/* Fín Breakpoint */


.home main section.body div.slider div img {
    width: 128px;
}

.home main section.body div.slider div.circulo-perro img.perro {
    width: 128px;
    position: relative;
    bottom: 3px;
    left: 2px;
}

.home main section.body div.slider div.circulo-gato img.gato {
    width: 128px;
    position: relative;
    bottom: 2px;
    right: 5px;
}
 
.home main section.body div.slider div.circulo-reptil img.reptil {
    width: 128px;
    position: relative;
    bottom: 4px;
}

.home main div.comunidad {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.home main div.comunidad div.comunidad-alimentacion {
  width: 280px;
  position: relative;
}


/* Breakpoint */
.home main div.comunidad div.comunidad-comunidad,
.home main div.comunidad div.comunidad-quienes-somos {
    width: 280px;
    position: relative;
     display: none; 
  }
/* Fín Breakpoint */

  .home main div.comunidad div.comunidad-comunidad h2 {
    color: white;
    position: absolute;
    left: 50px;
    top: 25px;
    text-shadow: 0px 5px 10px rgb(37, 37, 37);;
}

.home main div.comunidad div.comunidad-quienes-somos h2 {
    color: white;
    position: absolute;
    left: 13px;
    top: 25px;
    text-shadow: 0px 5px 10px rgb(37, 37, 37);;
}



  .home main div.comunidad div.comunidad-alimentacion h2 {
    color: white;
    position: absolute;
    left: 38px;
    top: 25px;
    text-shadow: 0px 5px 10px rgb(37, 37, 37);;
}


/* PRODUCTOS */

/* Producto 1 */

.home main div.productos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;

}

.home main div.productos article.producto-uno{
    width: 275px;
    box-shadow: 0px 5px 10px rgb(100, 100, 100);
    margin: 10px 0 ;
    border-radius: 3%;
}

.home main div.productos article.producto-uno div.img {
    width: 100%;
}

.home main div.productos article.producto-uno div.img img {
    border-radius: 10%;
}

.home main div.productos article.producto-uno div.descripcion {
    padding: 5px 15px 10px;
    border-top: 1px solid rgb(221, 221, 221);
}

.home main div.productos article.producto-uno div.descripcion p {
   font-size: 25px;
   margin: 0;
   padding: 0;    
   font-weight:400;
}

.home main div.productos article.producto-uno div.descripcion p.nombre {
    font-size: 15px;
    margin: 0;
    padding: 0;    
    font-weight:400;
    opacity: 0.9;
 }

.home main div.productos article.producto-uno div.descripcion small{
    color: rgb(0, 184, 55);
    font-size: 15px;
    font-weight: 500;
}
 
/* Brakpoint */

/* Producto 2 */

.home main div.productos article.producto-dos{
    width: 275px;
    box-shadow: 0px 5px 10px rgb(100, 100, 100);
    margin: 10px 0 ;
    border-radius: 3%;
    display: none;
}

.home main div.productos article.producto-dos div.img {
    width: 100%;
}

.home main div.productos article.producto-dos div.img img {
    border-radius: 10%;
}

.home main div.productos article.producto-dos div.descripcion {
    padding: 5px 15px 10px;
    border-top: 1px solid rgb(221, 221, 221);
}

.home main div.productos article.producto-dos div.descripcion p {
   font-size: 25px;
   margin: 0;
   padding: 0;    
   font-weight:400;
}

.home main div.productos article.producto-dos div.descripcion p.nombre {
    font-size: 15px;
    margin: 0;
    padding: 0;    
    font-weight:400;
    opacity: 0.9;
 }

.home main div.productos article.producto-dos div.descripcion small{
    color: rgb(0, 184, 55);
    font-size: 15px;
    font-weight: 500;
}

/* Producto 3 */

.home main div.productos article.producto-tres{
    width: 275px;
    box-shadow: 0px 5px 10px rgb(100, 100, 100);
    margin: 10px 0 ;
    border-radius: 3%;
    display: none;
}

.home main div.productos article.producto-tres div.img {
    width: 100%;
}

.home main div.productos article.producto-tres div.img img {
    border-radius: 10%;
}

.home main div.productos article.producto-tres div.descripcion {
    padding: 5px 15px 10px;
    border-top: 1px solid rgb(221, 221, 221);
}

.home main div.productos article.producto-tres div.descripcion p {
   font-size: 25px;
   margin: 0;
   padding: 0;    
   font-weight:400;
}

.home main div.productos article.producto-tres div.descripcion p.nombre {
    font-size: 15px;
    margin: 0;
    padding: 0;    
    font-weight:400;
    opacity: 0.9;
 }

.home main div.productos article.producto-tres div.descripcion small{
    color: rgb(0, 184, 55);
    font-size: 15px;
    font-weight: 500;
}

/* Producto 4 */

.home main div.productos article.producto-cuatro{
    width: 275px;
    box-shadow: 0px 5px 10px rgb(100, 100, 100);
    margin: 10px 0 ;
    border-radius: 3%;
    display: none;
}

.home main div.productos article.producto-cuatro div.img {
    width: 100%;
}

.home main div.productos article.producto-cuatro div.img img {
    border-radius: 10%;
}

.home main div.productos article.producto-cuatro div.descripcion {
    padding: 5px 15px 10px;
    border-top: 1px solid rgb(221, 221, 221);
}

.home main div.productos article.producto-cuatro div.descripcion p {
   font-size: 25px;
   margin: 0;
   padding: 0;    
   font-weight:400;
}

.home main div.productos article.producto-cuatro div.descripcion p.nombre {
    font-size: 15px;
    margin: 0;
    padding: 0;    
    font-weight:400;
    opacity: 0.9;
 }

.home main div.productos article.producto-cuatro div.descripcion small{
    color: rgb(0, 184, 55);
    font-size: 15px;
    font-weight: 500;
}

.home main section.carrusel {
    margin-top: 60px;
}

.home main div.dots-products2 {
    display: none;
}

/* FOOTER */

footer {
    background-color: var(--davysGray);
    text-align: center;
    padding-top: 15px;
    display: flex;
}


footer article.redes h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
   
}

footer article.redes div a i {
    font-size: 35px;
    margin-bottom: 10px;
}

footer article.lista {
    display: none;
    padding-top: 10px;
}

footer article.lista nav {
    display: flex;
    
}

footer article.lista nav ul h4,
footer article.lista nav ul li {
   
    color: rgb(196, 196, 196);
    text-align: initial;
}

footer article.servicios {
    display: none;
    padding-top: 10px;
}

footer article.servicios nav ul h4,
footer article.servicios nav ul li {
   
    color: rgb(196, 196, 196);
    text-align: initial;
}

footer article.redes h3 {
    color: rgb(196, 196, 196);
    padding: 10px 0;
}

footer article.redes div a {
    color: rgb(196, 196, 196);
    margin: 0 5px;
}

footer article.redes p {
    color: rgb(196, 196, 196);
    font-size: 15px;
}

footer article div.ayuda {
    padding-bottom: 10px;
}



/* TABLET */

@media (min-width: 481px) {

    header.header-agus div.banner div.menu-tablet-desktop {
        display: inline-block;
    }
   
    .home main section.body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .home main section.body div.slider {
        width: 100%;
    }

    .home main section.body div.slider div.circulo-gato {
    display: inline-block;
    }

    .home main div.comunidad {
        width: 90%;
    }

   .home main div.comunidad div.comunidad-comunidad {
    display: inline-block;
  }
 
  .home main div.comunidad div.comunidad-comunidad h2,
  .home main div.comunidad div.comunidad-alimentacion h2 {
      top: 25px;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      font-size: 30px;
  }
  .home main div.productos article.producto-dos {
      display: inline-block;
      width: 225px;
  }
  
  .home main div.productos article.producto-uno {
    width: 225px;
}
header.header-agus div.banner div.carrito a i {
    display: inline-block;
}

header.header-agus div.banner div.user a i {
    display: inline-block;
}

header.header-agus div.banner div.menu label i {
    display: none
}

.home main div.dots-products2 {
    display: inline-block;
    }

    .home main div.dots-products {
        display: none;
        }

}

@media (min-width: 730px) {
   
    .home main section.body div.slider div.circulo-reptil {
        display: inline-block;
        }

    .home main div.productos article.producto-tres {
        display: inline-block;
        width: 225px;
    }


    
}

@media (min-width: 800px) {


    .home main div.comunidad {
        margin-bottom: 0;
    }

   .home main div.comunidad div.comunidad-quienes-somos {
        display: inline-block;
      }

    .home main div.dots-comunidad {
        display: none;
    }
}

/* DESCKTOP */

@media (min-width: 1024px) {
    


    .home main div.comunidad div.comunidad-quienes-somos {
        display: inline-block;
      }

      .home main div.productos article.producto-cuatro {
        display: inline-block;
        width: 225px;
      }

      footer section {
          display: flex;
          justify-content:space-around ;
      }

      footer article.redes h3 {
          font-size: 25px;
      }

    footer article.lista{
        display: block;
    }

    footer article.servicios {
        display: block;
    }
}