* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
} 

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

 p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home h1, .home h2, .home h3, .home h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

/* HEADER */


.home main section.body h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0 3px 6px rgb(0, 0, 0);
}

.home main section.body div.slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}
 
.home main section.body div.slider div.circulo {
    background-color: rgb(74, 153, 28);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgb(100, 100, 100);
    margin: 0 25px;
}
/* FIN CARRUSEL */

/*Breakpoint */
.home main section.body div.slider div.circulo-gato, 
.home main section.body div.slider div.circulo-reptil {
    background-color: rgb(98, 211, 32);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgb(100, 100, 100);
    display: none;
}
/* Fín Breakpoint */


.home main section.body div.slider div img {
    width: 128px;
}

.home main section.body div.slider div.circulo-perro img.perro {
    width: 128px;
    position: relative;
    bottom: 3px;
    left: 2px;
}

.home main section.body div.slider div.circulo-gato img.gato {
    width: 128px;
    position: relative;
    bottom: 2px;
    right: 5px;
}
 
.home main section.body div.slider div.circulo-reptil img.reptil {
    width: 128px;
    position: relative;
    bottom: 4px;
}

.home main div.comunidad {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.home main div.comunidad div.comunidad-alimentacion {
  width: 280px;
  position: relative;
}


/* Breakpoint */
.home main div.comunidad div.comunidad-comunidad,
.home main div.comunidad div.comunidad-quienes-somos {
    width: 280px;
    position: relative;
  }
/* Fín Breakpoint */

  .home main div.comunidad div.comunidad-comunidad h2 {
    color: white;
    position: absolute;
    left: 50px;
    top: 25px;
    text-shadow: 0px 5px 10px rgb(37, 37, 37);;
}

.home main div.comunidad div.comunidad-quienes-somos h2 {
    font-size: 30px;
    color: white;
    position: absolute;
    left: 13px;
    top: 25px;
    text-shadow: 0px 5px 10px rgb(37, 37, 37);;
}
  .home main div.comunidad div.comunidad-alimentacion h2 {
    color: white;
    position: absolute;
    left: 24px;
    top: 25px;
    text-shadow: 0px 5px 10px rgb(37, 37, 37);;
}


/* PRODUCTOS */

/* Producto 1 */

.home main div.productos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;

}

.home main div.productos article.producto-uno{
    width: 275px;
    box-shadow: 0px 5px 10px rgb(100, 100, 100);
    margin: 10px 0 ;
    border-radius: 3%;
}

.home main div.productos article.producto-uno div.img {
    width: 100%;
}

.home main div.productos article.producto-uno div.img img {
    border-radius: 10%;
}

.home main div.productos article.producto-uno div.descripcion {
    padding: 5px 15px 10px;
    border-top: 1px solid rgb(221, 221, 221);
}

.home main div.productos article.producto-uno div.descripcion p {
   font-size: 25px;
   margin: 0;
   padding: 0;    
   font-weight:400;
}

.home main div.productos article.producto-uno div.descripcion p.nombre {
    font-size: 15px;
    margin: 0;
    padding: 0;    
    font-weight:400;
    opacity: 0.9;
 }

.home main div.productos article.producto-uno div.descripcion small{
    color: rgb(0, 184, 55);
    font-size: 15px;
    font-weight: 500;
}
 
/* Brakpoint */

/* Producto 2 */

.home main div.productos article.producto-dos{
    width: 275px;
    box-shadow: 0px 5px 10px rgb(100, 100, 100);
    margin: 10px 0 ;
    border-radius: 3%;
    display: none;
}

.home main div.productos article.producto-dos div.img {
    width: 100%;
}

.home main div.productos article.producto-dos div.img img {
    border-radius: 10%;
}

.home main div.productos article.producto-dos div.descripcion {
    padding: 5px 15px 10px;
    border-top: 1px solid rgb(221, 221, 221);
}

.home main div.productos article.producto-dos div.descripcion p {
   font-size: 25px;
   margin: 0;
   padding: 0;    
   font-weight:400;
}

.home main div.productos article.producto-dos div.descripcion p.nombre {
    font-size: 15px;
    margin: 0;
    padding: 0;    
    font-weight:400;
    opacity: 0.9;
 }

.home main div.productos article.producto-dos div.descripcion small{
    color: rgb(0, 184, 55);
    font-size: 15px;
    font-weight: 500;
}

/* Producto 3 */

.home main div.productos article.producto-tres{
    width: 275px;
    box-shadow: 0px 5px 10px rgb(100, 100, 100);
    margin: 10px 0 ;
    border-radius: 3%;
    display: none;
}

.home main div.productos article.producto-tres div.img {
    width: 100%;
}

.home main div.productos article.producto-tres div.img img {
    border-radius: 10%;
}

.home main div.productos article.producto-tres div.descripcion {
    padding: 5px 15px 10px;
    border-top: 1px solid rgb(221, 221, 221);
}

.home main div.productos article.producto-tres div.descripcion p {
   font-size: 25px;
   margin: 0;
   padding: 0;    
   font-weight:400;
}

.home main div.productos article.producto-tres div.descripcion p.nombre {
    font-size: 15px;
    margin: 0;
    padding: 0;    
    font-weight:400;
    opacity: 0.9;
 }

.home main div.productos article.producto-tres div.descripcion small{
    color: rgb(0, 184, 55);
    font-size: 15px;
    font-weight: 500;
}

/* Producto 4 */

.home main div.productos article.producto-cuatro{
    width: 275px;
    box-shadow: 0px 5px 10px rgb(100, 100, 100);
    margin: 10px 0 ;
    border-radius: 3%;
    display: none;
}

.home main div.productos article.producto-cuatro div.img {
    width: 100%;
}

.home main div.productos article.producto-cuatro div.img img {
    border-radius: 10%;
}

.home main div.productos article.producto-cuatro div.descripcion {
    padding: 5px 15px 10px;
    border-top: 1px solid rgb(221, 221, 221);
}

.home main div.productos article.producto-cuatro div.descripcion p {
   font-size: 25px;
   margin: 0;
   padding: 0;    
   font-weight:400;
}

.home main div.productos article.producto-cuatro div.descripcion p.nombre {
    font-size: 15px;
    margin: 0;
    padding: 0;    
    font-weight:400;
    opacity: 0.9;
 }

.home main div.productos article.producto-cuatro div.descripcion small{
    color: rgb(0, 184, 55);
    font-size: 15px;
    font-weight: 500;
}

.home main section.carrusel {
    margin-top: 60px;
}

.home main div.dots-products2 {
    display: none;
}

/* FOOTER */

footer {
    background-color: var(--davysGray);
    color: white;
    text-align: center;
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


footer article.redes h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
   
}

footer article.redes div a i {
    font-size: 35px;
    margin-bottom: 10px;
}

footer article.lista {
    display: none;
    padding-top: 10px;
}

footer article.lista nav {
    display: flex;
    
}
footer section article.lista nav a{
    color: rgb(196, 196, 196);
}

footer article.lista nav ul h4,
footer article.lista nav ul li {
   
    color: rgb(196, 196, 196);
    text-align: initial;
}

footer article.servicios {
    display: none;
    padding-top: 10px;
}

footer article.servicios nav ul h4,
footer article.servicios nav ul li {
   
    color: rgb(196, 196, 196);
    text-align: initial;
}

footer article.redes h3 {
    color: rgb(196, 196, 196);
    padding: 10px 0;
}

footer article.redes div a {
    color: rgb(196, 196, 196);
    margin: 0 5px;
}

footer article.redes p {
    color: rgb(196, 196, 196);
    font-size: 15px;
}

footer article div.ayuda {
    padding-bottom: 10px;
}



/* TABLET */

@media (min-width: 481px) {
   
    .home main section.body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .home main section.body div.slider {
        width: 100%;
    }

    .home main section.body div.slider div.circulo-gato {
    display: inline-block;
    }

    .home main div.comunidad {
        width: 90%;
    }

 
  .home main div.comunidad div.comunidad-comunidad h2,
  .home main div.comunidad div.comunidad-alimentacion h2 {
      top: 25px;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      font-size: 30px;
  }
  .home main div.productos article.producto-dos {
      display: inline-block;
      width: 225px;
  }
  
  .home main div.productos article.producto-uno {
    width: 225px;
}
header.header div.banner div.carrito a i {
    display: inline-block;
}

header.header div.banner div.user a i {
    display: inline-block;
}

header.header div.banner div.menu label i {
    display: none
}

.home main div.dots-products2 {
    display: inline-block;
    }

    .home main div.dots-products {
        display: none;
        }

}

@media (min-width: 730px) {
   
    .home main section.body div.slider div.circulo-reptil {
        display: inline-block;
        }

    .home main div.productos article.producto-tres {
        display: inline-block;
        width: 225px;
    }


    
}

@media (min-width: 800px) {


    .home main div.comunidad {
        margin-bottom: 0;
    }

}

/* DESCKTOP */

@media (min-width: 1024px) {
    
    .home main div.comunidad div.comunidad-quienes-somos {
        display: inline-block;
      }

      .home main div.productos article.producto-cuatro {
        display: inline-block;
        width: 225px;
      }
      
      footer section {
          display: flex;
          width: 100%;
          justify-content:space-around ;
          
      }

      footer article.redes h3 {
          font-size: 25px;
      }

    footer article.lista{
        display: block;
    }

    footer article.servicios {
        display: block;
    }
}