* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
} 

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

 p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home h1, .home h2, .home h3, .home h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

/* HEADER */

header.header-agus {
    /* background-color: rgb(49, 133, 0) ;  */
    background: linear-gradient(0deg, rgb(61, 141, 15) , rgb(98, 211, 32));
    padding: 5px 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header.header-agus div.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header.header-agus div.banner div.logo {
    width: 130px;
}

header.header-agus div.banner div.logo a img {
    width: 100%;
}

header.header-agus div.banner div.lupa-menu {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

header.header-agus div.banner div.menu {
    display: block;
}

header.header-agus div.banner div.menu a i {
    font-size: 30px;
    color: var(--kombuGreen);
    opacity: 0.8;
    margin-left: 15px;
}

header.header-agus div.banner div.lupa a i {
    font-size: 30px;
    opacity: 0.8;
    color: var(--kombuGreen)
}

/* MAIN */

.home main section.body h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.home main section.body div.slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    padding: 0 10px;
}
 
.home main section.body div.slider div.circulo {
    background-color: rgb(98, 211, 32);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgb(100, 100, 100);
}

/* Breakpoints */

.home main section.body div.slider div.circulo-gato, 
.home main section.body div.slider div.circulo-reptil {
    background-color: rgb(98, 211, 32);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgb(100, 100, 100);
    display: none;
}



.home main section.body div.slider div.circulo img {
    width: 128px;
}

.home main section.body div.slider div.circulo img.perro {
    width: 128px;
    position: relative;
    bottom: 3px;
    left: 2px;
}

.home main section.body div.slider div.circulo img.gato {
    width: 128px;
    position: relative;
    bottom: 2px;
    right: 5px;
}
 
.home main section.body div.slider div.circulo img.reptil {
    width: 128px;
    position: relative;
    bottom: 4px;
}

.home main div.comunidad {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.home main div.comunidad div.comunidad-alimentacion {
  width: 280px;
  position: relative;
}

.home main div.comunidad div.comunidad-comunidad,
.home main div.comunidad div.comunidad-quienes-somos {
    width: 280px;
    position: relative;
    display: none;
  }

  .home main div.comunidad div.comunidad-alimentacion h2 {
    color: white;
    position: absolute;
    left: 25px;
    top: 25px;
    text-shadow: 0px 5px 10px rgb(37, 37, 37);;
}

/* Productos destacados */

.home main div.productos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;

}

.home main div.productos article.producto-uno{
    width: 275px;
    box-shadow: 0px 5px 10px rgb(100, 100, 100);
    margin: 10px 0 ;
    border-radius: 3%;
}



.home main div.productos article.producto-uno div.img {
    width: 100%;
}

.home main div.productos article.producto-uno div.img img {
    border-radius: 10%;
}

.home main div.productos article.producto-uno div.descripcion {
    padding: 5px 15px 10px;
    border-top: 1px solid rgb(221, 221, 221);
}

.home main div.productos article.producto-uno div.descripcion p {
   font-size: 25px;
   margin: 0;
   padding: 0;    
   font-weight:400;
}

.home main div.productos article.producto-uno div.descripcion p.nombre {
    font-size: 15px;
    margin: 0;
    padding: 0;    
    font-weight:400;
    opacity: 0.9;
 }

.home main div.productos article.producto-uno div.descripcion small{
    color: rgb(0, 184, 55);
    font-size: 15px;
    font-weight: 500;
}



/* FOOTER */

footer {
    background-color: var(--davysGray);
    text-align: center;
    padding-top: 15px;
}


footer article.redes h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
   
}

footer article.redes div a i {
    font-size: 35px;
    margin-bottom: 10px;
}

footer article.lista {
    display: none;
}

footer article.redes h3 {
    color: rgb(196, 196, 196);
    padding: 10px 0;
}

footer article.redes div a {
    color: rgb(196, 196, 196);
    margin: 0 5px;
}

footer article.redes p {
    color: rgb(196, 196, 196);
    font-size: 15px;
}

footer article div.ayuda {
    padding-bottom: 10px;
}
