.body-login-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(150deg, #d5f9d3 0%, #d3f9d4 50%, #a4f1a0 50%, #a0f1a3 100%);
}
.form-container{
    height: 210px;
    width: 350px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #ffffffad;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.337);
    position: relative;
    font-family: 'Roboto', sans-serif;
    transition: all 1s;
}
.form-container .floating-image-form{
    max-width: 180px;
    height: 150px;
    position: absolute;
    top: -122px;
    left: 80px;
    transition: all 1s;
}
.form-container .logo-form{
    max-width: 100px;
    margin-left: 21px;
    margin-top: 10px;
}
.form-container .close img{
    color: #a70e0e;
    max-width: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 1s;
}
.form-container .div-imputs-login{
    margin: 5px 0;
    width: 260px;
    height: 40px;
    position: relative;
    margin-left: 21px;
}
.form-container .div-imputs-login input{
    position: absolute;
    top: 0;
    background-color: #ffffff00;
    width: 260px;
    height: 28px;
    font-size: 14px;
    border-bottom: solid 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    transition: all 1s;
}
.form-container .div-imputs-login input:hover{
    border-bottom: solid 1px var(--mantis);
}
.form-container .div-imputs-login input:focus{
    outline: none;
}

.form-container .div-imputs-login .error-message{
    position: absolute;
    top: 31px;
    color: red;
    font-size: 10px;
}
.form-container .create-account{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-left: 21px;
    margin-top: 5px;
}
.form-container .create-account a{
    text-decoration: none;
    color: #0067b8;
}
.form-container .create-account a:hover{
    text-decoration:underline;
}
.form-container .keep-sesion{
    margin-left: 21px;
    margin-top: 5px;
}
.form-container .keep-sesion input{
    position: relative;
    top: 2px;
}
.form-container .button-forms{
    width: 90px;
    border: 0;
    background-color: var(--mantis2);
    height: 25px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 14px;
    transition: all 1s;
    color: white;
}
.form-container .button-forms:hover{
    text-shadow: 0 0 2px black;
}
.form-container .button-forms:hover{
    background-color: var(--mantis);
}
.recovery-options{
    width: 350px;
    max-width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.337);
    height: 40px;
    margin-top: 20px;
    transition: all 1s;
    text-decoration: none;
}
.recovery-options{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffffad;
    text-decoration: none;
}
.recovery-options:hover{
    background-color: rgb(214, 208, 208);
}
.recovery-options i{
    color: var(--white);
    font-size: 14px;
    text-shadow: 0 0 6px rgb(0, 0, 0);
}
.recovery-options p{
    margin: 0;
    color: black;
    font-weight: 599;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin-left: 8px;
    text-decoration: none;
}

/* Tablet */
@media screen and (min-width: 475px) {
    .form-container{
        height: 235px;
        width: 350px;
        max-width: 350px;
    }
    .form-container .floating-image-form{
        height: 170px;
        top: -138px;
        left: 75px;
        max-width: 200px;
    }
    .form-container .logo-form{
        margin-left: 25px;
        margin-top: 14px;
        margin-bottom: 17px;
    }
    .form-container .div-imputs-login{
        width: 300px;
    }
    .form-container .div-imputs-login input{
        width: 300px;
        font-size: 15px;
    }
    .form-container .error-message{
        font-size: 10px;
    }
    .form-container .create-account{
        margin-left: 25px;
        font-size: 13px;
    }
    .recovery-options{
        width: 350px;
        max-width: 350px;
        height: 45px;
    }
    .recovery-options i{
        font-size: 15px;
    }
    .recovery-options p{
        font-size: 14px;
    }
    .form-container .button-forms{
        width: 100px;
        height: 30px;
        bottom: 10px;
        right: 10px;
        font-size: 14px;
    }
}
/* Desktop */
@media screen and (min-width: 1024px) {
    .form-container{
        height: 250px;
        width: 400px;
        max-width: 400px;
    }
    .form-container .floating-image-form{
        max-width: 210px;
        left: 94px;
    }
    .form-container .logo-form{
        margin-top: 15px;
        margin-bottom: 22px;
    }
    .form-container .div-imputs-login {
        width: 350px;
    }
    .form-container .div-imputs-login input{
        width: 350px;
        font-size: 16px;
    }
    .form-container .error-message{
        font-size: 12px;
    }
    .form-container .create-account{
        margin-left: 25px;
        font-size: 14px;
    }
    .recovery-options{
        width: 400px;
        max-width: 400px;
        height: 50px;
    }
    .recovery-options i{
        font-size: 16px;
    }
    .recovery-options p{
        font-size: 15px;
    }
    .form-container .button-forms{
        width: 108px;
        height: 33px;
        bottom: 11px;
        right: 13px;
        font-size: 15px;
    }
}