.form-container-register{
    height: 440px;
    width: 300px;
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    background-color: #ffffffad;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.337);
    position: relative;
    font-family: 'Roboto', sans-serif;
    transition: all 1s;
    justify-content: flex-start;
}
.form-container-register .floating-image-form{
    max-width: 180px;
    height: 150px;
    position: absolute;
    top: -122px;
    left: 60px;
    transition: all 1s;
}
.form-container-register .logo-form{
    max-width: 100px;
    margin-left: 21px;
    margin-top: 10px;
}
.form-container-register .close img{
    color: #a70e0e;
    max-width: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 1s;
}
.form-container-register .div-imputs-register{
    margin-left: 21px;
    width: 258px;
    height: 50px;
    position: relative;
}
.form-container-register .div-imputs-register input{
    position: absolute;
    top: 0;
    background-color: #ffffff00;
    width: 258px;
    height: 28px;
    font-size: 14px;
    border-bottom: solid 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    align-items: center;
    transition: all 1s;
}
.form-container-register .div-imputs-register input:hover{
    border-bottom: solid 1px var(--mantis);
}
.form-container-register .div-imputs-register input:focus{
    outline: none;
}
.form-container-register .div-imputs-register .error-message{
    font-weight: 400;
    position: absolute;
    top: 33px;
    color: red;
    font-size: 10px;
    transition: all 0.7s;
    margin: 0;
}
.form-container-register .error-message{
    margin: 0;
    font-weight: 400;
    position: absolute;
    font-size: 10px;
    color: red;
    transition: all 0.7s;
    margin: 0;
    bottom: 20px;
    left: 21px;
}
.form-container-register .have-account{
    font-style: normal;
    margin: 0;
    font-weight: 400;
    margin-left: 21px;
    font-size: 12px;
}
.form-container-register .have-account a{
    color: #0067b8;
}
.form-container-register .have-account a:hover{
    text-decoration: underline;
}
.form-container-register .terms-and-conditions{
    position: absolute;
    top: 10px;
    font-weight: 400;
    font-size: 12px;
}
.form-container-register .terms-and-conditions input{
    background-color: #ffffff00;
    margin-top: 0;
    margin-left: 0;
    width: 13px;
    height: 13px;
    border-bottom: solid 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    align-items: center;
    position: relative;
    top: 2px;
}
.form-container-register .terms-and-conditions a{
    color: #0067b8;
}
.form-container-register .terms-and-conditions a:hover{
    text-decoration:underline;
}
.form-container-register .button-form-create-account{
    width: 90px;
    border: 0;
    background-color: var(--mantis2);
    height: 25px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 14px;
    transition: all 1s;
    color: white;
    margin: 0;
}
.form-container-register .button-form-create-account:hover{
    text-shadow: 0 0 2px black;
    background-color: var(--mantis);
}

/* Tablet */
@media screen and (min-width: 475px){
    .form-container-register{
        height: 480px;
        width: 350px;
    }
    .form-container-register .floating-image-form{
        height: 170px;
        top: -138px;
        left: 75px;
        max-width: 200px;
    }
    .form-container-register .logo-form{
       margin-bottom: 20px;
    }
    .form-container-register .div-imputs-register{
        width: 280px;
        height: 52px;
    }
    .form-container-register .div-imputs-register input{
        width: 280px;
        font-size: 15px;
    }
    .form-container-register .div-imputs-register .terms-imput{
        width: 13px;
    }
    .form-container-register .div-imputs-register .error-message{
        font-size: 11.5px;
    }
    .form-container-register .have-account{
        font-size: 13px;
    }
    .form-container-register .button-form-create-account{
        width: 100px;
        height: 30px;
        right: 10px;
        bottom: 10px;
        font-size: 15px;
    }
}
/* Desktop */
@media screen and (min-width: 1024px) {
    .form-container-register{
        height: 490px;
        width: 400px;
        margin-top: 80px;
    }
    .form-container-register .floating-image-form{
        max-width: 210px;
        left: 94px;
    }
    .form-container-register .logo-form{
        margin-bottom: 25px;
     }
    .form-container-register .div-imputs-register{
        width: 330px;
        font-size: 16px;
    }
    .form-container-register .div-imputs-register input{
        width: 330px;
        font-size: 16px;
    }
    .form-container-register .have-account{
        font-size: 14px;
    }
    .form-container-register .terms-and-conditions{
        font-size: 13px;
    }
    .form-container-register .button-form-create-account{
        width: 120px;
        height: 35px;
        right: 15px;
        bottom: 14px;
        font-size: 16px;
    }
}


.is-invalid { border-color: #dc3545; 
    padding-right: calc(1.5em + .75rem); 
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e"); 
    background-repeat: no-repeat; 
    background-position: right calc(.375em + .1875rem) center; 
    background-size: calc(.75em + .375rem) calc(.75em + .375rem); 
} 
.is-valid { border-color: #198754; 
    padding-right: calc(1.5em + .75rem); 
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e"); 
    background-repeat: no-repeat; 
    background-position: right calc(.375em + .1875rem) center; 
    background-size: calc(.75em + .375rem) calc(.75em + .375rem); }