.form-container-register{
    height: 400px;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    position: relative;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    transition: all 1s;
}
.form-container-register .floating-image-form{
    max-width: 250px;
    height: 226px;
    position: absolute;
    top: -145px;
    left: 40px;
    transition: all 1s;
}
.form-container-register .logo-form{
    max-width: 100px;
    margin-left: 6px;
    transition: all 1s;
}
.form-container-register .close img{
    color: #a70e0e;
    max-width: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 1s;
}
.form-container-register .form-register input{
    margin-top: 5px;
    margin-left: 21px;
    width: 258px;
    height: 28px;
    font-size: 14px;
    border-bottom: solid 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    align-items: center;
    transition: all 1s;
}
.form-container-register .form-register input:hover{
    border-bottom: solid 1px var(--mantis);
}
.form-container-register .form-register input:focus{
    outline: none;
}
.form-container-register .error-message{
    margin-left: 21px;
    font-weight: 400;
    color: red;
    margin-top: 5px;
    font-size: 10px;
    transition: all 0.7s;
}
.form-container-register .have-account{
    font-style: normal;
    font-weight: 400;
    margin-left: 21px;
    margin-top: 5px;
}
.form-container-register .have-account a{
    color: #0067b8;
}
.form-container-register .have-account a:hover{
    text-decoration: underline;
}
.form-container-register .terms-and-conditions{
    margin-left: 21px;
    margin-top: 5px;
    font-weight: 400;
}
.form-container-register .terms-and-conditions input{
    position: relative;
    top: 2px;
}
.form-container-register .terms-and-conditions a{
    color: #0067b8;
}
.form-container-register .terms-and-conditions a:hover{
    text-decoration:underline;
}
.form-container-register .button-form-create-account{
    width: 90px;
    border: 0;
    background-color: var(--mantis2);
    height: 25px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 14px;
    transition: all 1s;
}
.form-container-register .button-form-create-account:hover{
    text-shadow: 0 0 2px black;
    background-color: var(--mantis);
}
.form-container-register .button-form-create-account a{
    color: white;
}
/* Tablet */
@media screen and (min-width: 475px){
    .form-container-register{
        height: 420px;
        width: 350px;
    }
    .form-container-register .floating-image-form{
        height: 245px;
        top: -157px;
        left: 55px;
    }
    .form-container-register .form-register input{
        width: 280px;
        font-size: 15px;
    }
    .form-container-register .error-message{
        font-size: 11.5px;
    }
    .form-container-register .have-account{
        font-size: 13px;
    }
    .form-container-register .terms-and-conditions{
        font-size: 13px;
    }
    .form-container-register .button-form-create-account{
        width: 100px;
        height: 30px;
        right: 10px;
        bottom: 10px;
        font-size: 15px;
    }
}
/* Desktop */
@media screen and (min-width: 1024px) {
    .form-container-register{
        height: 440px;
        width: 400px;
    }
    .form-container-register .floating-image-form{
        height: 260px;
        top: -166px;
        left: 74px
    }
    .form-container-register .form-register input{
        width: 330px;
        font-size: 16px;
    }
    .form-container-register .have-account{
        font-size: 14px;
    }
    .form-container-register .terms-and-conditions{
        font-size: 13px;
    }
    .form-container-register .button-form-create-account{
        width: 120px;
        height: 35px;
        right: 15px;
        bottom: 14px;
        font-size: 16px;
    }
}
