.container {
    width: 100%;
    position: relative;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    max-width: 100%;
  }
  
  ul {
    width: 9999%;
    height: 100%;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.75s ease;
  }
  
  li {
    width: 26.66vw;
    height: 100%;
    float: left;
  }
  
  
  #prev,
  #next {
    position: absolute;
    top: 50%;
    color: #aaa;
    text-decoration: none;
    font-size: 2rem;
    padding: 8px 5px;
    background: white;
    text-align: center;
    transform: translateY(-50%);
    transition: all 0.15s ease;
    border: 1px solid #ddd;
    border-radius: 0 3px 3px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  #next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  #prev:hover,
  #next:hover {
    color: #888;
  }
  
  