@import url('home.css');
@import url('login.css');
@import url('register.css');
@import url('editProfile.css');
@import url('productDetail.css');
@import url('shoppingCart.css');
@import url('variables.css');
@import url('btnFloating.css');
@import url('adminIndex.css');
@import url('adminLoad.css');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}