@import url('header.css');
@import url('home.css');
@import url('banners.css');
@import url('login.css');
@import url('register.css');
@import url('editProfile.css');
@import url('productDetail.css');
@import url('shoppingCart.css');
@import url('variables.css');
@import url('btnFloating.css');
@import url('adminLoad.css');
@import url('adminProducts.css');
@import url('cards.css');

body{
    background-image: url('/images/background/background.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}