:root{
    --davysGray: #464646;
    --kombuGreen: #30391F;
    --maximumGreen: #668A4C;
    --pistachio: #ACCC78;
    --greenPantone: #42AB49;
    --greenPantone2: #4EB653;
    --mantis: #5AC15D;
    --mantis2: #6DC757;
    --lightGreen: #89E186;
    --grannySmithApple: #A9E9A4;
    --teaGreen: #C7F1C2;
    --white: #FFFFFF;
}